{% extends "layouts/admin.html" %}
{% block title %}
<title>Cuy Click Perú - {{ title }}</title>
{% endblock title %}
{% load static %}
{% load humanize %}
{% load l10n %}
{% block content_head %}
<div class="content-head">
    <div class="left">
        <h4>{{ title }}</h4>
    </div>
    <div class="right">

    </div>
</div>
{% endblock content_head %}
{% block content %}
<div class="card budget__card">
  <h6 class="budget__title">Total del presupuesto</h6>
  <div class="budget__mount mount">{{ total }}</div>

  <div class="budget__detail">
    <div class="budget__detail-entry">
      <div class="budget__subtitle">Ingresos</div>
      <div class="budget__detail-mount mount text-success">{{ total_entry }}</div>
    </div>
    <div class="budget__detail-expense">
      <div class="budget__subtitle">Gastos</div>
      <div class="budget__detail-excol">
        <span class="badge badge-danger badge-xs">{{ percent|unlocalize }}%</span>
        <div class="budget__detail-mount mount text-danger">{{ total_payment }}</div>
      </div>
    </div>
  </div>
</div>

<div class="budget__list mb-10">
  <div class="entry__card">
    <div class="entry__head">
      <div class="entry__title">
        <h5>Ingresos</h5>
        <i class="bx bx-trending-up bx-sm text-success"></i>
      </div>
      <p>Últimos pedidos realizados</p>
    </div>
    <div class="entry__list">
      {% for entry in entries %}
      <div class="entry__item">
        <div class="icon icon-warning-default rounded rounded-md">
          <img src="{% static 'icon/order-icon.svg' %}">
        </div>
        <div class="entry__content">
          <h6>{{ entry.client.full_name }}</h6>
          <p>{{ entry.created_at }}</p>
        </div>
        <div class="enmount">
          <span class="badge badge-success mount">{{ entry.price_rate|unlocalize }}</span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  
  <div class="expense__card">
    <div class="expense__head">
      <div class="expense__title">
        <h5>Gastos</h5>
        <i class="bx bx-trending-down bx-sm text-danger"></i>
      </div>
      <p>Últimos pagos realizados a los motorizados</p>
    </div>
    <div class="expense__list">
      {% for expense in expenses %}
      <div class="expense__item">
        <div class="icon icon-secondary-default rounded rounded-md">
          <i class="bx bx-user-check bx-sm"></i>
        </div>
        <div class="expense__content">
          <h6>{{ expense.driver.full_name }}</h6>
          <p>{{ expense.created_at }}</p>
        </div>
        <div class="exmount">
          <span class="badge badge-danger mount">{{ expense.total|unlocalize }}</span>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>
{% endblock content %}