{% extends "layouts/admin.html" %}
{% block title %}
<title>Cuy Click Perú - {{ title }}</title>
{% endblock title %}
{% load static %}
{% load humanize %}
{% block content_head %}
<div class="content-head">
    <div class="left">
        <h4>{{ title }}</h4>
    </div>
    <div class="right">

    </div>
</div>
{% endblock content_head %}
{% block content %}
<div class="card budget__card">
  <h6 class="budget__title">Total del presupuesto</h6>
  <div class="budget__mount mount">2000</div>

  <div class="budget__detail">
    <div class="budget__detail-entry">
      <div class="budget__subtitle">Ingresos</div>
      <div class="budget__detail-mount mount text-success">1500</div>
    </div>
    <div class="budget__detail-expense">
      <div class="budget__subtitle">Gastos</div>
      <div class="budget__detail-excol">
        <span class="badge badge-danger badge-xs percent">0.20</span>
        <div class="budget__detail-mount mount text-danger">500</div>
      </div>
    </div>
  </div>
</div>

<div class="budget__list mb-10">
  <div class="entry__card">
    <div class="entry__head">
      <div class="entry__title">
        <h5>Ingresos</h5>
        <i class="bx bx-trending-up bx-sm text-success"></i>
      </div>
      <p>Últimos pedidos realizados</p>
    </div>
    <div class="entry__list">
      <div class="entry__item">
        <div class="icon icon-warning-default rounded rounded-md">
          <img src="./static/icon/order-icon.svg">
        </div>
        <div class="entry__content">
          <h6>Juan Rojas Cruz</h6>
          <p>20 de junio de 2020 a las 20:00 a.m.</p>
        </div>
        <div class="enmount">
          <span class="badge badge-success mount">12</span>
        </div>
      </div>
      <div class="entry__item">
        <div class="icon icon-warning-default rounded rounded-md">
          <img src="./static/icon/order-icon.svg">
        </div>
        <div class="entry__content">
          <h6>Juan Rojas Cruz</h6>
          <p>20 de junio de 2020 a las 20:00 a.m.</p>
        </div>
        <div class="enmount">
          <span class="badge badge-success mount">12</span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="expense__card">
    <div class="expense__head">
      <div class="expense__title">
        <h5>Gastos</h5>
        <i class="bx bx-trending-down bx-sm text-danger"></i>
      </div>
      <p>Últimos pagos realizados a los motorizados</p>
    </div>
    <div class="expense__list">
      <div class="expense__item">
        <div class="icon icon-secondary-default rounded rounded-md">
          <i class="bx bx-user-check bx-sm"></i>
        </div>
        <div class="expense__content">
          <h6>Juan Rojas Cruz</h6>
          <p>20 de junio de 2020 a las 20:00 a.m.</p>
        </div>
        <div class="exmount">
          <span class="badge badge-danger mount">12</span>
        </div>
      </div>
      <div class="expense__item">
        <div class="icon icon-secondary-default rounded rounded-md">
          <i class="bx bx-user-check bx-sm"></i>
        </div>
        <div class="expense__content">
          <h6>Juan Rojas Cruz</h6>
          <p>20 de junio de 2020 a las 20:00 a.m.</p>
        </div>
        <div class="exmount">
          <span class="badge badge-danger mount">12</span>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock content %}