{% extends "layouts/pages.html" %}
{% block title %}
<title>Cuy Click Perú - Restablecer contraseña</title>
{% endblock title %}
{% block content %}
<div class="container-auth">
    {% include "partials/message.html" %}
    <h5>Restablecer contraseña</h5>
    {% if validlink %}
    <p class="text-left">Ingrese su nueva contraseña dos veces:</p>
    <form action="." method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
            {% for error in field.errors %}
            <div class="text-invalid">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        <div class="actions full">
            <button type="submit" class="btn btn-primary m-0">Restablecer contraseña</button>
        </div>
    </form>
    {% else %}
    <p class="text-left">El enlace de restablecimiento de contraseña no era válido, posiblemente porque tiene ya se ha utilizado. Solicite un nuevo restablecimiento de contraseña</p>
    {% endif %}
</div>
{% endblock content %}