{% extends "layouts/pages.html" %} 
{% block title %}
<title>Cuy Click Perú - Restablecer contraseña</title>
{% endblock title %} 
{% block content %}
<div class="container-auth">
    {% include "partials/message.html" %}
    <h5>Restablecer contraseña</h5>
    <p class="text-left">Nosotros te enviaremos las instrucciones para configurar una nueva contraseña.</p>
    <h6 class="text-left">Si no recibe un correo electrónico, asegúrese de haber ingresado el dirección con la que se registró.</h6>
</div>
{% endblock content %}