{% load static %}
<aside class="sidebar">
    <div class="sidebar-header">
        <img src="{% static 'img/logo.png' %}" alt="Cuy Click - Perú" class="logo">
    </div>
    <ul class="sidebar-menu">
        <li class="{% if request.path == '/dashboard/' %}active{% endif %}">
            <a href="{% url 'dash' %}">                       
                <i class='bx bx-line-chart bx-sm'></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="{% if request.path == '/orders/' %}active{% endif %}">
            <a href="{% url 'orders:index' %}">
                
                <i class='bx bx-trip bx-sm'></i>
                <span>Pedidos</span>
            </a>
        </li>
        <li>
            <a href="#">
                
                <i class='bx bxs-report bx-sm'></i>
                <span>Reporte</span>
            </a>
        </li>
    </ul>            
</aside>

<ul class="tabbar">
    <li class="{% if request.path == '/dashboard/' %}active{% endif %}">
        <a href="{% url 'dash' %}">
            
            <i class='bx bx-line-chart bx-sm'></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li>
        <a href="#">
            
            <i class='bx bx-trip bx-sm'></i>
            <span>Pedidos</span>
        </a>
    </li>
    <li>
        <a href="#">
            
            <i class='bx bxs-report bx-sm'></i>
            <span>Reporte</span>
        </a>
    </li>
    <li>
        <a href="#">
            
            <i class='bx bxs-report bx-sm'></i>
            <span>Reporte</span>
        </a>
    </li>
    <li>
        <a href="#">
            
            <i class='bx bxs-report bx-sm'></i>
            <span>Reporte</span>
        </a>
    </li>
</ul>