.page__wrapper{
    width: 100%;
    overflow-x: hidden;
}
.page__navbar{
    background-color: rgb(var(--primary-page-color));
    height: 100px;
    display: flex;
    align-items: center;
}
.page__navbar-content{
    display: flex;
    width: 100%;
    align-items: center;
}
.page__navbar-left{
    display: flex;
    margin-right: auto;
}
.page__navbar-right.active{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page__navbar-right{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgb(var(--primary-page-color));
    box-shadow: 0 3px 16px rgb(var(--primary-color), .5);
    z-index: 1;
    margin-left: auto;
    width: 300px;
    padding: 20px;
}
.page__navbar-right > .actions{
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
}
.page__navbar-right > :not(template) ~ :not(template) {
    --space-x-reverse: 0;
    margin-right: calc(.8rem * var(--space-x-reverse));
    margin-left: calc(.8rem * (1 - var(--space-x-reverse)));
}
.navbar__menu{
    color: white;
    margin-left: auto;
}
.menu__items{
    display: flex;
    flex-direction: column;
}
.menu__item-link{
    color:white !important;
    text-decoration: none;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    border-radius: 8px;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
}
.menu__item-link:hover{
    /* opacity: .8; */
    background: rgb(var(--secondary-color));
    font-size: 20px;
}
.social__media{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.social__media a{
    color: white !important;
    text-decoration: none;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
    transform: scale(1);
}
.social__media a:hover {
    background: rgb(var(--primary-color), .5);
    transform: scale(1.1);
}
.content__tracking-search{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 50px;
    margin-bottom: 50px;
}
.arrow__big{
    position: absolute;
    left: 0;
    bottom: -30%;
    z-index: -1;
}
.arrows__bottom{
    position: absolute;
    right: 0;
    bottom: -12%;
    z-index: -1;
}
.arrow__right{
    position: absolute;
    right: -5%;
    top: 27%;
    z-index: -1;
}
.tracking__map{
    width: 100%;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 16px 6px rgba(0 0 0 / .1);
    padding: 20px;
}
.tracking__map #map{
    width: 100%;
    height: 100%;
    background: #c2c2c2;
    border-radius: 20px;
}
.content__form{
    width: 100%;
    margin-left: 0;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column-reverse;
}
.content__form form{
    width: 100%;
}
.card-tracking{
    display: flex;
    background-color: rgb(var(--primary-page-color));
    box-shadow: 0px 16px 6px rgba(0 0 0 / .1);
    color: white;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 30px;
}
.card__tracking-content{
    width: 60%;
    /* margin-right: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card__tracking-content h5{
    color: white;
    font-size: 16px;
}
.card__tracking-img{
    width: 40%;
    margin-top: -32px;
    transform: translateX(32px);
    margin-bottom: -32px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
}
.card__tracking-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(8px);
    /* aspect-ratio: 4 / 3; */
}
.hero__wrapper{
    height: 95vh;
    background: linear-gradient(180deg, rgb(var(--primary-page-color)), rgba(var(--primary-page-color), .5));
    display: flex;
    align-items: center;
}
.hero__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero__content__left{
    width: 100%;
    text-align: center;
}
.hero__content__left .btn{
    width: 100%;
}
.hero__content__left .btn:nth-child(2){
    margin-top: 10px !important;
    margin-right: 0 !important;
}
.hero__content__left h5{
    color: rgba(255 255 255 / .8);
}
.hero__content__left h2{
    color: white;
    margin-bottom: 50px;
    font-size: 24px;
}
.hero__actions{
    margin-bottom: 30px;
}
.hero__content__right{
    width: 100%;
    margin-left: 0;
}
.hero__content__circle{
    margin-top: 40px;
    border-radius: 50%;
    background: rgb(var(--secondary-color));
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%; 
    margin: 0 auto;
}
.hero__content__right img{
    width: 220px;
    height: 280px;
}
.pricing__wrapper{
    /* height: 100vh; */
    background: rgb(var(--secondary-color));
    padding: 80px 0;
}
.pricing__head{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.pricing__head__left{
    width: 40%;
    color: white !important;
}
.pricing__head__right{
    width: 60%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.pricing__head__left h4{
    color: white;
    margin-bottom: 15px;
}
.pricing__head__left h5{
    color: rgba(255 255 255 / .8);
}
.pricing__rates{
    display: flex;
    min-width: 100%;
    overflow: auto;
}
.pricing__rates > :not(template) ~ :not(template){
    --x-reversed-space: 0;
    margin-right: calc(2rem * var(--x-reversed-space));
    margin-left: calc(2rem * (1 - var(--x-reversed-space)));
}
.card__pricing{
    background: rgba(255 255 255 / .4);
    backdrop-filter: blur(4);
    box-shadow: 0px 16px 6px rgba(0 0 0 / .1);
    border-radius: 16px;
    border: 1px solid rgba(255 255 255 / .6);
    padding: 20px;
    width: 348px;
    text-align: center;
}
.card__pricing h5{
    margin-top: 60px;
    color: rgba(255 255 255 / .8);
    font-size: 34px;
}
.price__rate__mount{
    color: white;
    font-size: 96px;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
}
.price__rate__description{
    color: rgba(var(--title-color));
    font-size: 25px;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 60px;
}

@media (min-width: 768px){
    .navbar__menu{
        display: inline-flex;
        cursor: pointer;
    }
    .tracking__map{
        width: 65%;
        height: 500px;
    }
    .content__form{
        width: 45%;
        margin-left: 50px;
        margin-bottom: 0;
        flex-direction: column;
    }
    .content__form form{
        width: 80%;
    }
    .card-tracking{
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .content__tracking-search{
        flex-direction: row;
    }
    .card__tracking-content{
        width: 50%;
        margin-right: 20px;
    }
    .card__tracking-content h5{
        font-size: 20px;
    }
    .card__tracking-img{
        width: 50%;
        margin-top: -32px;
        transform: translateX(32px);
        margin-bottom: -32px;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        overflow: hidden;
    }
    .card__tracking-img img{
        transform: translateY(0);
        /* aspect-ratio: 16 / 9; */
    }
    .hero__wrapper {
        height: 60vh;
    }
    .hero__content{
        flex-direction: row;
    }
    .hero__content__left{
        text-align: left;
    }
    .hero__content__left .btn{
        width: auto;
    }
    .hero__content__left .btn:nth-child(2){
        margin-left: .5rem;
    }
    .hero__content__left h2{
        font-size: 32px;
    }
    .hero__content__right img{
        width: 350px;
        height: 380px;
    }
}
@media (min-width: 1024px){
    .hero__wrapper{
        height: 95vh;
    }
    .hero__content__left{
        width: 40%;
    }
    .hero__content__left h2{
        font-size: 48px;
    }
    .hero__content__right{
        width: 50%;
        margin-left: 90px;
        margin-top: 0;
    }
    .hero__content__right img{
        width: 380px;
        height: 450px;
    }
}