.profile{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    place-items: center;
    margin-bottom: 20px;
}
.profile .info{
    text-align: center;
}
.profile-actions{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.profile-actions > a{
    flex: auto;
}
.profile-actions a:last-child{
    margin-left: 10px;
}
.profile-content{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.profile-count{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profile-count .text-center{
    flex: auto;
}
.profile-count .text-center:nth-child(n+2){
    border-left: 1px solid rgba(var(--title-color), .08);
}
.driver-avatars{
    background: rgb(var(--primary-color));
}
.driver-avatars .title{
    color: white;
    margin-bottom: 12px;
}

.valorations-head{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.valorations-head .title{
    display: flex;
    align-items: center;
}
.valorations-head .title > :nth-child(n+2){
    margin-left: 5px;
}
.valoration-list .valoration-item{
    display: flex;
    padding: 20px 0;
    border-top: 1px solid rgba(var(--title-color), .1);
}
.valoration-list .valoration-item:first-child{
    border-top: none;
}
.valoration-item .valoration-content{
    margin-left: 10px;
    flex: auto;
}
.valoration-item .valoration-content .valoration-detail{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.valoration-item .valoration-content .valoration-detail > :not(template) ~ :not(template){
    --space-x-reverse: 0;
    margin-right: calc(.5rem * var(--space-x-reverse));
    margin-left: calc(.5rem * (1 - var(--space-x-reverse)));
}
@media (min-width: 768px){
    .profile-actions{
        justify-content: center;
    }
    .profile-actions > a{
        flex: 0 auto;
    }
    .profile-content{
        grid-template-columns: 1.5fr 2fr;
    }
}
@media (min-width: 1024px){

}