.space-x-2 > :not(template) ~ :not(template) {
    --space-x-reverse: 0;
    margin-right: calc(1rem * var(--space-x-reverse));
    margin-left: calc(1rem * (1 - var(--space-x-reverse)));
}
.space-x > :not(template) ~ :not(template) {
    --space-x-reverse: 0;
    margin-right: calc(.63rem * var(--space-x-reverse));
    margin-left: calc(.63rem * (1 - var(--space-x-reverse)));
}
.mb-2{
    margin-bottom: 0.5rem;
}
.mb-4{
    margin-bottom: 1rem;
}
.mb-8{
    margin-bottom: 4rem;
}
.mb-10{
    margin-bottom: 5rem;
}

.mt-4{
    margin-top: 1rem;
}
.mt-5{
    margin-top: 2rem;
}