{% extends "layouts/admin.html" %}

{% block title %}
<title>Cuy Click Perú - {{ title }}</title>
{% endblock title %}


{% block content_head %}
<div class="content-head">
  <div class="left">
      <a href="#" class="btn btn-link btn-small">
        <i class='bx bx-left-arrow-alt bx-sm'></i>
      </a>
      <h4>Registrar pedido</h4>
  </div>
</div>
{% endblock content_head %}

{% block content %}
<form method="post">
    {% csrf_token %} 
    <div class="flex mb-10 order-wrapper">
        <div class="order-content">
            <div class="card mb-6">
                <h4 class="tracking-code"># TRACKING <span>{{ order.tracking_code }}</span></h4>
                <div class="client-info">
                    <div>
                        <h6>{{ user.client.full_name }}</h6>
                        <p>{{ user.email }}</p>
                    </div>
                    <div>
                        <h6>Celular</h6>
                        <p>952415252</p>
                    </div>
                    <div>
                        <h6>Dirección</h6>
                        <p>Jr. Los pasajes 322</p>
                    </div>
                </div>
            </div>
            <div class="card order-details" >

                <div class="order-details-head">
                    <h4>Detalle del pedido</h4>
                    <a href="#" class="link">Ver cálculo de tarifa</a>
                </div>

                <div class="order-details-content">

                    <a href="{% url 'orders:create-detail' %}" class="btn btn-link btn-small">Agregar elemento de envío</a>

                    {% for item in order.detail_set.all %}
                    <div class="order-details-item">
                        <div class="actions right">
                            <a href="#" class="btn btn-link btn-small">Ver detalle</a>
                            <a href="#" class="btn btn-link btn-small">Editar</a>
                            <a href="{% url 'details:delete' item.id %}?next={{request.path}}" class="btn btn-link btn-small text-danger">Eliminar</a>
                        </div>

                        <div class="address">   

                            <div class="origin">
                                <h5 class="m-0">{{ item.address_origin.address }}</h5>
                                <p class="mb-4">{{ item.address_origin.address_city }}</p>

                                <h6>Referencia</h6>
                                <p>{{ item.address_origin.reference }}</p>
                            </div>

                            <i class='icon bx bx-right-arrow-alt bx-md'></i> 

                            <div class="destiny">
                                <h5 class="m-0">{{ item.address_destiny.address }}</h5>
                                <p class="mb-2">{{ item.address_destiny.address_city }}</p>

                                <h6>Referencia</h6>
                                <p class="mb-2">{{ item.address_destiny.reference }}</p>

                                <h6>Para</h6>
                                <p>{{ item.full_name }}</p>
                            </div>

                        </div>

                        <div class="footer">
                        
                            <h5>Detalles del paquete</h5> 
                            <div class="footer-details">
                                <div class="package">
                                    {% if item.image %}
                                    <a href="#" class="package-picture">
                                        <img src="{{ item.image.url }}" alt="Imagen del pago">
                                    </a>
                                    {% else%}
                                    <div class="package-picture" style="width: 90px"></div>
                                    {% endif %}
                                    <div class="package-details">
                                        <h6>Descripción</h6>
                                        <p>{{ item.description }}</p>
                                    </div>
                                </div>
                                <div class="summary">
                                    <div class="text-center">
                                        <p>Distancia</p>
                                        <h4>2.5KM</h4>
                                    </div>
                                    <div class="text-center tracking-price">
                                        <p>Precio de tarifa</p>
                                        <div class="price">
                                            <span class="text-muted font-medium" style="margin-bottom: 5px; margin-right: 5px;">S/.</span>
                                            <div class="h4 font-bold">
                                                25
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    {% endfor %}

                </div>

            </div>
        </div>
        <div class="order-total mb-10">
            <div class="card">
                <div class="text-right">
                    <h5 class="m-0">Total a pagar</h5> 
                    <div>
                        <span class="h4 text-body font-medium">S/.</span>
                        <span class="h2 font-bold">50<span/>
                    </div>
                </div>
                <div class="order-total-payed">
                    <div class="flex items-center justity-end mb-6">
                        <a href="#" class="link">Ver forma de pago</a>
                    </div>
                    <h6 class="mb-2">Imagen del pago realizado</h6>
                    {% if orden.payed_image %}
                        <a href="#" class="payed-image">
                            <img src="{{ order.payed_image.url }}" alt="Imagen del pago">
                        </a>
                    {% else %}
                        <input type="file" name="payed_image" id="payed_image" class="input w-full">
                    {% endif %}

                    <h6 class="mb-2 mt-4">Comprobante electrónico</h6>
                    <select name="type_ticket" id="type_ticket" class="input w-full">
                        <option value="factura" {% if order.type_ticket == 'factura'%}selected{% endif %}}>Factura</option>
                        <option value="boleta" {% if order.type_ticket == 'boleta'%}selected{% endif %}}>Boleta</option>
                    </select>
                </div>
                <div class="actions full">
                    <button class="btn btn-primary">Completar pedido</button>
                    <a href="#" class="btn btn-default">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
 </form>
{% endblock content %}
{% block scripts %}
 <script>
    (function(){
        console.log('Js load')
    }())
 </script>
{% endblock scripts %}