{% extends "layouts/admin.html" %}

{% block title %}
<title>Cuy Click Perú - {{ title }}</title>
{% endblock title %}

{% block content %}
<div class="content-head">
    <h4>{{ title }}</h4>
    <a href="{% url 'drivers:create' %}" class="btn btn-link">
    <span>Nuevo motorizado</span>
    </a>
</div>
<div class="card mb-10">
    <form method="post">
        {% csrf_token %} 
        {% for field in form %}
            <div class="form-group">
            {{ field.label_tag }} 
            {{ field }} 
            {% if field.errors %}
                <div class="text-invalid">{{ field.errors }}</div>
            {% endif %}
            </div>
        {% endfor %}
        <div class="actions right">
        <a href="{% url 'orders:index' %}" class="btn btn-default">Cancelar</a>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
</div>
{% endblock content %}