{% extends "layouts/admin.html" %}

{% block title %}
<title>Cuy Click Perú - {{ title }}</title>
{% endblock title %}
{% block content_head %}
<div class="content-head">
    <div class="left">
        <a href="{% url 'orders:cancel-order' %}" class="btn btn-link btn-small">
            <i class='bx bx-left-arrow-alt bx-sm'></i>
        </a>
        <h4>Registrar pedido</h4>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="mb-10">
    <div class="card card-create-order create-order">
        
        <div class="step-wrapper">
            <div class="step active">
                <div class="step-icon-wrapper">
                    <div class="step-icon">
                        <i class='bx bx-user-pin bx-sm' ></i>
                    </div> 
                    <div class="step-progress-desktop"></div>
                </div> 
                <div class="step-content">
                    <div class="text-small caption">Paso 1</div>
                    <h6>Información del cliente</h6>
                </div>
                <div class="step-progress-mobile"></div>
            </div>
            <div class="step">
                <div class="step-icon-wrapper">
                    <div class="step-icon">
                        <i class='bx bx-map-pin bx-sm' ></i>
                    </div> 
                    <div class="step-progress-desktop"></div>
                </div> 
                <div class="step-content">
                    <div class="text-small caption">Paso 2</div>
                    <h6>Direcciones de envió</h6>
                </div>
                <div class="step-progress-mobile"></div>
            </div>
            <div class="step">
                <div class="step-icon-wrapper">
                    <div class="step-icon">
                        <i class='bx bx-credit-card bx-sm' ></i>
                    </div> 
                    <div class="step-progress-desktop"></div>
                </div> 
                <div class="step-content">
                    <div class="text-small caption">Paso 3</div>
                    <h6>Realizar pago</h6>
                </div>
                <div class="step-progress-mobile"></div>
            </div>
        </div>
        <div class="order-content w-full">
            <h4 class="tracking-code"># TRACKING <span>{{ order.tracking_code }}</span></h4>
            <div class="client-info">
                {% if order.client %}
                <div>
                    <h6>{{ order.client.full_name }}</h6>
                    <p>{{ order.client.user.email }}</p>
                </div>
                <div>
                    <h6>Celular</h6>
                    <p>{{ order.client.cell_phone }}</p>
                </div>
                <div>
                    <h6>Dirección</h6>
                    <p>{{ order.client.address_default.address_complete }}</p>
                </div>
                {% else %}
                    <h5 class="text-muted text-center">No hay un cliente agregado para esta orden.</h5>
                    <div class="text-small text-center">Le aconsejamos agregar para continuar...</div>
                {% endif %}
            </div>
        </div>
        <div class="mt-8 actions reverse right">
            <a href="{% url 'orders:cancel-order' %}" class="btn btn-default">Cancelar</a>
            <a href="{% url 'orders:add-addresses' %}" class="btn btn-primary">Siguiente</a>
        </div>
    </div>
</div>  
    
{% endblock content %}