{% extends "layouts/admin.html" %} 
{% block title %}
<title>Cuy Click Perú - {{ title }}</title>
{% endblock title %} 
{% load static %}
{% load humanize %}
{% block content_head %}
<div class="content-head">
    <div class="left">
        <h4>{{ title }}</h4>
    </div>
    <div class="right">
        <div x-data="{ isOpen: false }" class="container-modal">
            <button @click="isOpen = true" class="btn btn-link btn-small">
            <svg
            class="filter"
            width="24"
            height="24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M8 20a4 4 0 01-3.875-3H2v-2h2.126A4 4 0 118 20zm0-6a2 2 0 102 2.09v.4V16a2 2 0 00-2-2zm14 3h-9v-2h9v2zm-9-5a4 4 0 01-3.874-3H2V7h7.126A4 4 0 1113 12zm0-6a2 2 0 102 2.09v.4V8a2 2 0 00-2-2zm9 3h-4V7h4v2z"
                    fill="#2E3A59"
                />
            </svg>
            </button>
            <div 
                x-show.transition.in.scale.opacity.100ms.out.scale.opacity.100ms="isOpen"
                class="modal modal-right">
                <div 
                    class="modal-content card" style="width: 400px; overflow: auto;" 
                    @click.away="isOpen = false" 
                >
                    <div class="head">
                        <h6>Búsqueda avanzada</h6>
                        <div class="close">
                            <button @click="isOpen = false" class="btn btn-default btn-circle btn-small">
                                <i class='bx bx-x bx-sm' ></i>
                            </button>
                        </div>
                    </div>
                    <form method='GET' class="form-modal">
                        <div class="form-group">
                            <label for="search"># tracking o cliente</label>
                            <input type='search' name='q' placeholder="Buscar por # seguimiento o datos del cliente" value='{{ request.GET.q }}' class="input">
                        </div>
                        <div class="form-group">
                            <label for="origin">Dirección recojo o persona que antenderá</label>
                            <input type='search' name='origin' placeholder="Buscar por distrito, datos de la persona" value='{{ request.GET.origin }}' class="input">
                        </div>
                        <div class="form-group">
                            <label for="destiny">Dirección envío o persona que antenderá</label>
                            <input type='search' name='destiny' placeholder="Buscar por distrito, datos de la persona" value='{{ request.GET.destiny }}' class="input">
                        </div>
                        <div class="form-group">
                            <label for="date">Fecha de registro</label>
                            <input type="date" class="input" name="date" id="date" value="{{ request.GET.date }}">
                        </div>
                        <div class="form-group">
                            <label for="status">Estado</label>
                            <select name="status" id="status" class="input">
                                {% for cstatus in statuses %}
                                <option value="{{ cstatus }}" {% if status == cstatus %}selected{% endif %}>{{ cstatus.label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="actions right">
                            <button type='submit' class="btn btn-primary">Buscar</button>
                        </div>
                    </form> 
                </div>
            </div>
        </div>

        {% if perms.orders.add_order %}
            {% if request.user.is_client%}
            <a href="{% url 'orders:create' %}" class="btn btn-link btn-small text-primary">
                <i class='bx bx-plus bx-sm' ></i>
                <span>Nuevo pedido</span> 
            </a>
            {% else %}
            <div x-data="clientState()" x-init="init()" class="container-modal">
                <button @click="isOpen = true" class="btn btn-link btn-small">
                    Nuevo pedido
                </button>
                <div 
                    x-show.transition.in.scale.opacity.100ms.out.scale.opacity.100ms="isOpen"
                    class="modal">
                    <div 
                        class="modal-content card" style="width: 400px" 
                        @click.away="isOpen = false" 
                    >
                        <div class="head">
                            <h6>Nuevo pedido para</h6>
                            <div class="close">
                                <button @click="isOpen = false" class="btn btn-default btn-circle btn-small">
                                    <i class='bx bx-x bx-sm' ></i>
                                </button>
                            </div>
                        </div>
                        <form method='POST' id="client-form" action="{% url 'orders:create' %}" class="form-modal">
                            {% csrf_token %}
                            <div class="form-group-search m-0">
                                <input type="search" class="input input-outline" id="client_search" x-model="search" ref="search"
                                    placeholder="Buscar un cliente" />
                                <i class="input-icon bx bx-search bx-sm"></i>
                            </div>
                            <div class="options-2 mt-4">
                                <template x-if="client_list.length || client_select" x-for="(client, index) in client_list"
                                    :key="index">
                                    <div class="option-item" style="transition: all 1s;"
                                        :class="{'active': client_select.pk === client.pk}" @click="selectClient(index)">
                                        <i class="bx bx-check-circle bx-md"></i>
                                        <div>
                                            <p class="text-muted text-small text-left flex align-items" x-html="getCellPhone(client.fields)"></p>
                                            <p class="text-primary text-left" x-text="getFullName(client.fields)"></p>
                                        </div>
                                    </div>
                                </template>
                            </div>
                            <div x-show="!client_list.length" class="alert text-muted" x-text="emptyMessageText"></div>
                            <input type="hidden" name="client_id">
                            
                            <div class="actions right">
                                <a href="{% url 'orders:index' %}" class="btn btn-default">Cancelar</a>
                                <button type='submit' class="btn btn-primary">Continuar</button>
                            </div>
                        </form> 
                    </div>
                </div>
            </div>
            {% endif %}
        {% endif %}
       
    </div>
</div>
{% endblock content_head %}
{% block content %}
 <div class="filter-list">
    {% for cstatus in statuses %}
    <a href="{% url 'orders:index' %}?status={{ cstatus }}" class="btn btn-{% if status == cstatus %}primary{% else %}link{% endif %} btn-rounded btn-small">{{ cstatus.label }}</a>
    {% endfor %}
</div>
 <div class="mb-10 order-list-grid">  
    <div class="order-list-head">
        <div class="order-list-head-item">
            Detalles del pedido
        </div>
        <div class="order-list-head-item">
            Dirección de recojo
        </div>
        <div class="order-list-head-item">
            Dirección de envío
        </div>
        <div class="order-list-head-item">
            Estado
        </div>
        <div class="order-list-head-item" style="justify-self: end;">
            Acciones 
        </div>
    </div>

    {% if object_list.count > 0 %}
    
    {% for detail in object_list %}
    
    <div class="card card-normal order-list-row" x-data="{ isOpenSm: false, isOpenMd: false }">
        <div class="order-list-col">
            <div class="icon icon-warning-default rounded rounded-md">
                <img src="{% static 'icon/order-icon.svg' %}"/>
            </div>
            <div class="content" style="align-items: flex-start;">
                <p class="text-small text-muted font-normal">{{ detail.get_tracking_code_text }}</p>
                <h6>{{ detail.order.client.full_name }}</h6>
                <div class="order-detail">
                    <p>{{ detail.order.created_at|naturaltime }}</p>
                </div>
            </div>
            <div class="cursor-pointer icon-view h6" @click="isOpenSm = true">
                <i class='bx bx-dots-horizontal-rounded bx-sm'></i>
            </div>
        </div>
        <div class="order-list-col">
            <div class="text-small">{{ detail.address_origin.address_complete }}</div>
            <h6>{{ detail.address_origin.full_name }}</h6>
            <p class="flex items-center">
                <i class="bx bx-mobile-alt bx-xs" style="margin-right: 5px;"></i>
                <span>{{ detail.address_origin.cell_phone }}</span>
            </p>
        </div>
        <div class="order-list-col">
            <div class="text-small">{{ detail.address_destiny.address_complete }}</div>
            <h6>{{ detail.address_destiny.full_name }}</h6>
            <p class="flex items-center">
                <i class="bx bx-mobile-alt bx-xs" style="margin-right: 5px;"></i>
                <span>{{ detail.address_destiny.cell_phone }}</span>
            </p>
        </div>
        <div class="order-list-col">
            {% include "details/snippets/status.html" %}
        </div>
        <div class="order-list-col dropdown" style="justify-self: end;">
            <div class="cursor-pointer h6" @click="isOpenMd = !isOpenMd">
                <i class='bx bx-dots-horizontal-rounded bx-sm'></i>
            </div>
            <div class="dropdown-menu right"
                x-show.transition.in.origin.bottom.right.scale.opacity.400ms.out.origin.top.right.scale.20="isOpenMd"
                @click.away="isOpenMd = false">
                {% if perms.orders.view_order %}
                <a href="{{ detail.get_detail_path }}" class="dropdown-item-2">
                    <span>Ver detalles</span>
                    <i class='bx bx-map-pin bx-sm'></i>
                </a>
                {% endif %}
                {% if request.user.is_administrator %}
                <a href="{{ detail.get_change_status_path }}" class="dropdown-item-2">
                    <span>Cambiar estado</span>
                    <i class='bx bx-wrench bx-sm'></i>
                </a>
                {% endif %}
            </div>
        </div>
        <div x-show.transition.in.scale.opacity.100ms.out.scale.opacity.100ms="isOpenSm" class="modal modal-sheet">
            <div class="modal-content card" style="width: 100%" @click.away="isOpenSm = false">
                <div class="head">
                    <h6>Acciones</h6>
                    <div class="close">
                        <button @click="isOpenSm = false" class="btn btn-default btn-circle btn-small">
                            <i class='bx bx-x bx-sm'></i>
                        </button>
                    </div>
                </div>
                <div class="form-modal">
                    <div class="options">
                        {% if perms.details.view_detail %}
                        <a href="{{ detail.get_detail_path }}" class="option-item">
                            <span>Ver detalles</span>
                            <div class="icon ">
                                <i class='bx bx-map-pin bx-sm'></i>
                            </div>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="mb-10 table-list-bottom">
        <div class="table-list-details">
            <p>
                Página
                <span class="font-medium">{{ page_obj.number }}</span>
                de
                <span class="font-medium">{{ page_obj.paginator.num_pages }}</span>
                -
                Total
                <span class="font-semibold">{{ object_list.count }}</span>
                registros
            </p>
        </div>
        <div class="pagination space-x">
          {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="pagination-item">Anterior</a>
          {% else %}
            <a class="pagination-item disable">Anterior</a>
          {% endif %}

          {% for i in page_obj.paginator.page_range %} 
            {% if page_obj.number == i %}
              <a class="pagination-item page-number active">{{ i }}</a>
            {% else %}
              <a href="?page={{ i }}" class="pagination-item page-number">{{ i }}</a>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="pagination-item">Siguiente</a>
          {% else %}
            <a class="pagination-item disable">Siguiente</a>
          {% endif %}
        </div>
    </div>

    {% else %}
    <div class="card mb-10">
        <p>
            Sin pedidos para ese estado.
        </p>
    </div>
    {% endif %}
</div>
{% endblock content %}
{% block scripts %}
<script>
    var form = document.getElementById('client-form')
    function clientState() {
        return {
            search: '',
            client_list: [],
            client_select: {},
            emptyMessageText: 'Ingrese la nombre completo o dni',
            btnDisabled: true,
            isOpen: false,
            getClients(value) {
                fetch('/clients/get-clients/?q=' + value)
                    .then(res => res.json())
                    .then(data => {
                        if (!data.length) {
                            this.emptyMessageText = 'Sin resultados';
                            this.client_list = [];
                            return;
                        }
                        this.client_list = data;
                    });
            },
            getFullName(client) {
                return `${client.first_name} ${client.last_name}`;
            },
            getCellPhone(client){
                return ` <i class="bx bx-mobile-alt bx-xs" style="margin-right: 5px;"></i> <span>${client.cell_phone}</span>`;
            },
            selectClient(index) {
                this.client_select = this.client_list[index];
                this.btnDisabled = false;
                setFormField(this.client_select);
            },
            init() {
                this.$watch('search', (value) => {
                    if (!value) {
                        this.emptyMessageText = 'Ingrese la dirección, distrito o ciudad';
                        this.client_list = [];
                        return;
                    }
                    this.getClients(value);
                });
            }
        }
    }
    function setFormField(client) {
        form.client_id.value = client.pk;
    }
</script>
{% endblock scripts %}