{% extends "layouts/admin.html" %} {% block title %}
<title>Cuy Click Perú - Pedido realizado con éxito</title>
{% endblock title %} 

{% block content_head %}
<div class="content-head"></div>
{% endblock content_head %}
{% block content %}
 <div class="card card-form card-message mt-6 mb-10">
    <div class="mb-4 flex justify-start">
        <div class="icon icon-success icon-circle icon-xl">
          <i class='bx bx-check-circle bx-xl'></i>
        </div>
    </div>
    <div class="text-center">
        <h5>Pedido realizado con éxito</h5>
        <p>El detalle de tu pedido serán enviados al correo, de las personas que registrados en la dirección de envío, con el # TRACKING, podrás seguir la ubicación de tu pedido.</p>
        <p class="text-small font-medium">NOTA: RECUERDE QUE EL ROTULADO Y EMBALADO ES RESPONSABILIDAD DEL CLIENTE.</p>
        <div class="actions right mt-6">
        <a href="{% url 'orders:index' %}" class="btn btn-primary">Ir a mis pedidos</a>
        <a href="{% url 'orders:rotulado' order.pk %}" class="btn btn-default">
          <i class='bx bx-download bx-sm'></i>
          <span>Rotulado</span>
        </a>
        </div>
    </div>
</div>

{% endblock content %}
