{% extends "layouts/admin.html" %}

{% block title %}
<title>Cuy Click Perú - {{ title }}</title>
{% endblock title %}
{% load static %}
{% load l10n %}

{% block content_head %}
<div class="content-head">
    <div class="left"></div>
    <div class="right modal-container" x-data="{ isOpen: false }">
        <a class="btn btn-link btn-xsmall" data-balloon-pos="down" aria-label="Formas de pago" @click="isOpen = true">
            <i class='bx bx-help-circle bx-sm'></i>
            <span>¿Cómo debo pagar?</span>
        </a>
        <div x-show.transition.in.scale.opacity.100ms.out.scale.opacity.100ms="isOpen" class="modal">
            <div class="modal-content card" style="width: 600px" @click.away="isOpen = false">
                <div class="head">
                    <h6>Formas de pago</h6>
                    <div class="close">
                        <button @click="isOpen = false" class="btn btn-default btn-circle btn-small">
                            <i class='bx bx-x bx-sm'></i>
                        </button>
                    </div>
                </div>
                <div class="form-modal">
                    <img src="{% static 'img/payment/account-payment.jpeg' %}" style="width: 100%;" alt="Payment accounts">

                    <!-- <h6>Representante de la Empresa: Meredith Botta </h6>
                    <p>RUC: 20605386521</p>
                    <p>Razón Social: E -COURIER INVERSIONES EIRL</p>
                    <p>Nombre Comercial: CuyClick Perú</p>
                    <div class="payment__method_wrapper mt-4">
                        <div class="payment__method_row">
                          <div class="payment__method_col">
                            <h6 class="mb-2 text-center">INTERBANK</h6>
                            <h6>a: MEREDITH BOTTA</h6>
                            <p># Cuenta Soles:0113113801509</p>
                            <p># Cuenta CCI:00301101311380150947</p>
                          </div>
                          <div class="payment__method_col">
                            <h6 class="mb-2 text-center">BCP</h6>
                            <h6>A: E-COURIER INVERSIONES EIRL</h6>
                            <p># Cuenta Soles:0113113801509</p>
                            <p># Cuenta CCI:00301101311380150947</p>
                          </div>
                        </div>
                        <div class="payment__method_row">
                          <div class="payment__method_col">
                            <p>A: MEREDITH BOTTA</p>
                            <h6>#: 923948049</h6>
                            <h6 class="text-center mb-4">ESTE SE VA CAMBIAR</h6>
                            <img alt="Yape" src="{% static 'img/payment/yape.jpeg' %}">
                          </div>
                          <div class="payment__method_col">
                            <p>A: MEREDITH BOTTA</p>
                            <h6 class="mb-4">#: 923948049</h6>
                            <img alt="Plin" src="{% static 'img/payment/plin.jpeg' %}">
                          </div>
                        </div>
                      </div> -->
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-10">
        <div class="card card-create-order create-order">

            <div class="step-wrapper">
                <div class="step success">
                    <div class="step-icon-wrapper">
                        <div class="step-icon">
                            <i class='bx bx-check bx-sm'></i>
                        </div>
                        <div class="step-progress-desktop"></div>
                    </div>
                    <div class="step-content">
                        <div class="text-small caption">Paso 1</div>
                        <h6>Información del remitente</h6>
                    </div>
                    <div class="step-progress-mobile"></div>
                </div>
                <div class="step success">
                    <div class="step-icon-wrapper">
                        <div class="step-icon">
                            <i class='bx bx-map-pin bx-sm'></i>
                        </div>
                        <div class="step-progress-desktop"></div>
                    </div>
                    <div class="step-content">
                        <div class="text-small caption">Paso 2</div>
                        <h6>Direcciones de envío</h6>
                    </div>
                    <div class="step-progress-mobile"></div>
                </div>
                <div class="step active">
                    <div class="step-icon-wrapper">
                        <div class="step-icon">
                            <i class='bx bx-credit-card bx-sm'></i>
                        </div>
                        <div class="step-progress-desktop"></div>
                    </div>
                    <div class="step-content">
                        <div class="text-small caption">Paso 3</div>
                        <h6>Realizar pago</h6>
                    </div>
                    <div class="step-progress-mobile"></div>
                </div>
            </div>
            <div class="order-content-2">
                <div class="order-addresess-2">
                    {% if order.detail_set.count > 0 %}
                    {% for detail in order.detail_set.all %}
                        {% include 'details/snippets/detail-item.html' %}
                    {% endfor %}

                    {% else %}
                    <h5 class="text-muted text-center">No hay una dirección de envío para para este pedido.</h5>
                    <div class="text-small text-center">Le aconsejamos agregar una dirección para continuar...</div>
                    {% endif %}
                </div>
                <div class="order-right">
                    {% include 'details/snippets/detail-summary.html' %}

                    <div class="form-group mt-5">
                        <input type="text" class="input" name="promo-code" id="promo-code" style="text-transform: uppercase;"
                            placeholder="Ingrese el cupón de promoción" value="{{ order.promo_code.code }}" {% if order.promo_code %}readonly{% endif %}>
                        {% if order.promo_code %}
                        <div class="mt-2 text-success">
                            Cupón de promoción aplicada
                        </div>
                        {% else %}
                        <div id="promo-code-message" class="mt-2"></div>
                        {% endif %}
                    </div>
                    {% if not order.promo_code %}
                    <div class="actions right mt-2">
                        <button id="btn-promocode" class="btn btn-secondary btn-small">Aplicar</button>
                    </div>
                    {% endif %}
                    <div class="mt-5">
                        <h6>Imágenes del pago realizado</h6>
                        <input type="file" class="input mt-2" name="payed_image" required>
                    </div>
                    <div class="mt-5">
                        <h6>Tipo de comprobante</h6>
                        <div class="radio-group mt-2">
                            <div class="radio-input">
                                <input type="radio" name="type_ticket" id="boleta" checked value="BOLETA" required>
                                <label for="boleta">
                                    <i class='bx bx-radio-circle bx-sm'></i>
                                    <i class='active bx bx-radio-circle-marked bx-sm'></i>
                                    <span>
                                        Boleta
                                    </span>
                                </label>
                            </div>
                            <div class="radio-input">
                                <input type="radio" name="type_ticket" id="factura" value="FACTURA" required>
                                <label for="factura">
                                    <i class='bx bx-radio-circle bx-sm'></i>
                                    <i class='active bx bx-radio-circle-marked bx-sm'></i>
                                    <span>
                                        Factura
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="mt-4" id="detail-ruc" style="display: none;">
                            <div class="form-group">
                                <label for="business_name">Razón social</label>
                                <input type="text" class="input" id="business_name" name="business_name">
                            </div>
                            <div class="form-group">
                                <label for="ruc">RUC</label>
                                <input type="text" class="input" maxlength="11" id="ruc" name="ruc">
                            </div>
                        </div>
                    </div>
                    <div class="mt-6 actions full">
                        <button type="submit" class="btn btn-primary">Completar pedido</button>
                        <a href="{% url 'orders:add-addresses' %}" class="btn btn-default">Regresar</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
{% endblock content %}
{% block scripts %}
<script>
    var btnAplyCode = document.getElementById('btn-promocode');
    const inputPromoCode = document.getElementById('promo-code');
    const messagePromoCode = document.getElementById('promo-code-message');
    const total = document.getElementById('total');
    // const igv = document.getElementById('igv');
    // const sub_total = document.getElementById('subtotal');
    const discount_wrapper = document.getElementById('discount-wrapper');
    const total_previous_wrapper = document.getElementById('total-previous-wrapper');
    const price_rate_previous_wrapper = document.querySelectorAll('#price-rate-previous-wrapper');
    const price_rate_element = document.querySelectorAll('#price-rate');
    btnAplyCode.addEventListener('click', function (ev) {
        ev.preventDefault();
        const code = inputPromoCode.value;
        if (code) {
            fetch('/promo-codes/validate/?code=' + code)
                .then(res => res.json())
                .then(data => {
                    if (data.status === true) {
                        // igv.innerText = data.igv;
                        // sub_total.innerText = data.sub_total;
                        code.value = data.code;
                        code.readOnly = true;
                        if (data.price_rate_previous_list.length > 0){
                            data.price_rate_previous_list.forEach((price_previous, index) => {
                                price_rate_previous_wrapper[index].style.display = 'grid';
                                var pricePreviousElement = price_rate_previous_wrapper[index].querySelector('#price-rate-previous');
                                pricePreviousElement.innerHTML = price_previous;
                            });
                        }
                        if (data.price_rate_list.length > 0){
                            data.price_rate_list.forEach((price_rate, index) => {
                                price_rate_element[index].innerHTML = price_rate;
                            });
                        }
                        if (messagePromoCode.classList.contains('text-danger'))
                            messagePromoCode.classList.remove('text-danger');
                        messagePromoCode.classList.add('text-success');
                        messagePromoCode.innerText = 'Cupón de promoción aplicado';
                        btnAplyCode.style.display = 'none';

                        discount_wrapper.style.display = 'grid'
                        discount_wrapper.querySelector('#discount').innerHTML = data.discount;

                        total_previous_wrapper.style.display = 'grid'
                        total_previous_wrapper.querySelector('#total-previous').innerHTML = data.total_previous;
                        total.innerText = data.total;
                    } else {
                        messagePromoCode.classList.add('text-danger');
                        messagePromoCode.innerText = 'Cupón de promoción no válido';
                    }
                }).catch(error => console.log(error));

        } else {
            messagePromoCode.classList.add('text-danger');
            messagePromoCode.innerText = 'Ingrese un cupón de promoción';
        }
    });

    const detailRuc = document.getElementById('detail-ruc');
    const groupTypeTicket = document.querySelectorAll('[name="type_ticket"]'); groupTypeTicket.forEach((el) => {
        el.addEventListener('change', (ev) => {
            const businessNameInput = detailRuc.querySelector('#business_name');
            const rucInput = detailRuc.querySelector('#ruc');
            if (ev.target.checked && el.getAttribute('id') == 'factura'){
                detailRuc.style.display = 'block';
                businessNameInput.required = true;
                rucInput.required = true;
            }else{
                detailRuc.style.display = 'none';
                businessNameInput.required = false;
                rucInput.required = false;
            }
        });
    });

</script>
{% endblock scripts %}