{% extends "layouts/admin.html" %}
{% block title %}
<title>Cuy Click Perú - {{ title }}</title>
{% endblock title %}
{% load static %}

{% block content %}
    <h5 class="font-medium">Hola {{ request.user.username }},</h5>
    <h3>Bienvenido</h3>

    <div class="content__wrapper mb-10">
        <div class="grid-dash__driver">
          <div class="payment__now">
            <div class="card">
              <div class="icon__position">
                <div class="icon icon-secondary icon-circle">
                  <i class="bx bxl-paypal bx-sm"></i>
                </div>
              </div>
              <h4 class="text-center mb-4">{{ now_summary.title }}</h4>
              <h6 class="text-secondary font-medium mb-4">{{ now_summary.date_now }}</h6>
              <div class="detail__now">
                <h3>S/ {{ now_summary.total }}</h3>
                <div class="count__now">
                  <h4>{{ now_summary.count }}</h4>
                  <p class="text-small">{{ now_summary.title_order }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="dash__count__wrapper">
            {% include 'admin/snippets/summary-count.html' %}
          </div>

          {% include 'admin/snippets/list-left.html' %}
        </div>
        <div>
          {% include 'admin/snippets/list-right.html' %}
        </div>
    </div>

    <!-- <div class="card mt-4">Pronto....</div> -->

{% endblock content %}