{% extends 'layouts/auth.html' %}
{% block title %}
    <title>Cuy Click Perú - Página no encontrada</title>
{% endblock title %}
{% load static %}
{% block content %}
    <div class="error__wrapper">
        <div class="error__content">
          <h1>404</h1>
          <h5>Página no encontrada</h5>
          {% if request.user.is_authenticated %}
          <a href="{% url 'dash' %}" class="btn btn-primary btn-rounded btn-small">Regresar al inicio</a>
          {% else %}
          <a href="{% url 'pages:index' %}" class="btn btn-primary btn-rounded btn-small">Regresar al inicio</a>
          {% endif %}
        </div>
        <div class="error__img">
          <img src="{% static 'img/decoration/arrows_bottom.png' %}" alt="Arrows bottom">
        </div>
      </div>
{% endblock content %}