{% load env_extras %}
{% load jsonify %}
<form method="post" enctype="multipart/form-data" id="form-detail">
  {% csrf_token %}
  <div class="card mb-4">
    <div class="form-grid-2 mb-4">
      <div>
        <h5 class="mb-2">Información del paquete</h5>
        <p>El paquete no debe superar los <span class="h6">5kg</span> y las dimensiones de <span
            class="h6">30x30x30cm</span>.</p>
      </div>
    </div>
    <div class="form-grid-2">
      {% for field in info_form %}
      <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
        {% for error in field.errors %}
        <div class="text-invalid">
          {{ error }}
        </div>
        {% endfor %}
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="card mb-10">
    <div class="form-grid-3 detail-address">
      <div>
        <h5 class="mb-4">Dirección de recojo</h5>
        <div class="address__wrapper mb-4 container-modal" x-data="addressState()" x-init="init()">
          <div class="mb-4">
            <div class="form-group-search m-0">
              <input type="search" class="input input-outline" id="origin_search"
                placeholder="Buscar una dirección de recojo en google maps">
              <i class="input-icon bx bx-search bx-sm"></i>
            </div>
            <input type="hidden" id="origin_search_text">
          </div>

          <div class="mb-4">O</div>
          <a class="btn btn-secondary btn-small" @click="isOpen = true">Seleccionar una dirección anterior</a>
          <div x-show.transition.in.scale.opacity.100ms.out.scale.opacity.100ms="isOpen" class="modal">
            <div class="modal-content card" style="width: 450px" @click.away="isOpen = false">
              <div class="head">
                <h6>Seleccionar un dirección anterior</h6>
                <div class="close">
                  <a @click="isOpen = false" class="btn btn-default btn-circle btn-small">
                    <i class='bx bx-x bx-sm m-0'></i>
                  </a>
                </div>
              </div>
              <div class="form-modal">
                <div class="form-group-search m-0">
                  <input 
                    type="search" 
                    class="input input-outline"
                    id="address_before" 
                    x-model="address_before"
                    ref="address_before"
                    placeholder="Buscar una dirección anterior"
                  />
                  <i class="input-icon bx bx-search bx-sm"></i>
                </div>
                <div class="options-2 mt-4">
                  <template x-if="address_list.length || address_select" x-for="(address, index) in address_list" :key="index">
                    <div class="option-item" style="transition: all 1s;" :class="{'active': address_select.pk === address.pk}" @click="selectAddress(index)" >
                      <i class="bx bx-check-circle bx-md"></i>
                      <div>
                        <p class="text-muted text-small text-left" x-text="address.fields.full_name"></p>
                        <p class="text-primary text-left" x-text="getAddressText(address.fields)"></p>
                      </div>
                    </div>
                  </template>
                </div>
                <div x-show="!address_list.length" class="alert text-muted" x-text="emptyMessageText"></div>
                <div class="actions right">
                  <a @click="isOpen = false" class="btn btn-default">Cancelar</a>
                  <button type="button" :disabled="btnDisabled" class="btn btn-primary" @click="setChangeOriginAddress()">Elegir</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% for field in origin_form %}
        {% if field.is_hidden %}
        {{ field }}
        {% else %}
        <div class="form-group">
          {{ field.label_tag }}
          {{ field }}
          {% if field.errors %}
          {% for error in field.errors %}
          <div class="text-invalid">
            {{ error }}
          </div>
          {% endfor %}
          {% endif %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <i class='icon bx bx-right-arrow-alt bx-md text-title'></i>
      <div>
        <h5 class="mb-4">Dirección de envío</h5>
        <div class="address__wrapper mb-4">
          <div class="mb-4">
            <div class="form-group-search m-0">
              <input type="search" class="input input-outline" id="destiny_search"
                placeholder="Buscar dirección de envío en google maps">
              <i class="input-icon bx bx-search bx-sm"></i>
            </div>
            <input type="hidden" id="destiny_search_text">
          </div>
        </div>
        {% for field in destiny_form %}
        {% if field.is_hidden %}
        {{ field }}
        {% else %}
        <div class="form-group">
          {{ field.label_tag }}
          {{ field }}
          {% if field.errors %}
          {% for error in field.errors %}
          <div class="text-invalid">
            {{ error }}
          </div>
          {% endfor %}
          {% endif %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>

    <div class="actions right mt-5">
      <a href="{% url 'orders:add-addresses' %}" class="btn btn-default">Cancelar</a>
      <button type="submit" class="btn btn-primary">{{ btnText }}</button>
    </div>
  </div>
</form>

<div id="key" data-value="{% get_env_var 'GOOGLE_MAP_KEY' %}"></div>
{% block scripts %}
<script>
  (function () {
    loadScript();
  })()
  var form = document.querySelector('#form-detail');
  function setDestination() {
    var origin_address_google = new google.maps.places.Autocomplete(document.getElementById('origin_search'));
    var destiny_address_google = new google.maps.places.Autocomplete(document.getElementById('destiny_search'));

    google.maps.event.addListener(origin_address_google, 'place_changed', function () {
      var address = origin_address_google.getPlace();
      var address_text = address.formatted_address;
      document.querySelector('#origin_search_text').value = address_text;
      changePositionAddressOrigin(address.geometry.location, address_text);
    });
    google.maps.event.addListener(destiny_address_google, 'place_changed', function () {
      var address = destiny_address_google.getPlace();
      var address_text = address.formatted_address;
      document.querySelector('#destiny_search_text').value = address_text;
      changePositionAddressDestiny(address.geometry.location, address_text);
    });
  }

  function changePositionAddressOrigin(position, address_text) {
    var address = address_text.split(", ");
    form.origin_address.value = address[0];
    form.origin_district.value = address[1];
    form.origin_city.value = address[2];
    form.origin_position.value = JSON.stringify(position);
    if(form.destiny_address.value !== null && form.destiny_district.value !== null && form.destiny_city.value !==  ''){
      getDistanceMatrix();
    }
  }

  function changePositionAddressDestiny(position, address_text) {
    var address = address_text.split(", ");
    form.destiny_address.value = address[0];
    form.destiny_district.value = address[1];
    form.destiny_city.value = address[2];
    form.destiny_position.value = JSON.stringify(position);

    if(form.origin_address.value !== null && form.origin_district.value !== null && form.origin_city.value !==  ''){
      getDistanceMatrix();
    }
  }

  function getDistanceMatrix() {
    const travel_mode = 'DRIVING';
    var origin_address_text = getOriginAddressText();
    var destiny_address_text = getDestinyAddressText();
    calculateDistance(travel_mode, origin_address_text, destiny_address_text);
  }
  function getOriginAddressText(){
    return `${form.origin_address.value}, ${form.origin_district.value}, ${form.origin_city.value}`;
  }
  function getDestinyAddressText(){
    return `${form.destiny_address.value}, ${form.destiny_district.value}, ${form.destiny_city.value}`;
  }
  function calculateDistance(travel_mode, origin_address, destiny_address) {
    var DistanceMatrixService = new google.maps.DistanceMatrixService();
    DistanceMatrixService.getDistanceMatrix(
      {
        origins: [origin_address],
        destinations: [destiny_address],
        travelMode: google.maps.TravelMode[travel_mode],
        unitSystem: google.maps.UnitSystem.IMPERIAL, // miles and feet.
        // unitSystem: google.maps.UnitSystem.metric, // kilometers and meters.
        avoidHighways: false,
        avoidTolls: false
      }, save_results);
  }

  // save distance results
  function save_results(response, status) {

    if (status != google.maps.DistanceMatrixStatus.OK) {
      // result.innerHTML = response.err;
      console.log(response.error)
    } else {
      var origin = response.originAddresses[0];
      var destination = response.destinationAddresses[0];
      if (response.rows[0].elements[0].status === "ZERO_RESULTS") {
        result.innerHTML = "Sorry , not available to use this travel mode between " + origin + " and " + destination;
      } else {
        var distance = response.rows[0].elements[0].distance;
        var duration = response.rows[0].elements[0].duration;
        var distance_in_kilo = distance.value / 1000; // the kilo meter
        var distance_in_mile = distance.value / 1609.34; // the mile
        var duration_text = duration.text;
        appendResults(distance_in_kilo, duration_text);
      }
    }
  }
  function appendResults(distance_in_kilo, duration_text) {
    let price = 0.0;
    window.service_prices.forEach(function (rate) {
      if (distance_in_kilo >= rate.fields.min & (distance_in_kilo <= rate.fields.max | distance_in_kilo >= rate.fields.max)) {
        price = rate.fields.price;
      }
    });
    inputDistance(price, distance_in_kilo);
  }
  function inputDistance(price, distance_in_kilo) {
    form.price_rate.value = price;
    form.distance.value = distance_in_kilo.toFixed(1);
  }
  function loadScript() {
    // Create the script tag, set the appropriate attributes
    var key = document.querySelector('#key');
    var keyValue = key.dataset.value;
    var script = document.createElement('script');
    script.src = 'https://maps.googleapis.com/maps/api/js?libraries=places&key=' + keyValue + '&callback=initMap';
    script.async = true;

    // Attach your callback function to the `window` object
    window.initMap = function () {
      setDestination();
      getRatePrices();
    };

    // Append the 'script' element to 'head'
    document.head.appendChild(script);
  }
  function getRatePrices() {
    var service_prices = [];
    var url = '/service-prices/get-service-prices/';
    fetch(url)
      .then(res => res.json())
      .then(data => {
        window.service_prices = data;
      });
  }
  function addressState() {
    return {
      isOpen: false,
      address_before: '',
      address_list: [],
      address_select: {},
      client: {},
      emptyMessageText: 'Ingrese la dirección, distrito o ciudad',
      btnDisabled: true,
      getAddressBefore(value) {
        const slug = this.client.fields.slug; 
        fetch('/addresses/get-address/'+slug+'/?q=' + value)
          .then(res => res.json())
          .then(data => {
            if (!data.length) {
                this.emptyMessageText = 'Sin resultados';
                this.address_list = [];
                return;
            }
            this.address_list = data;
          });
      },
      getClientOrder(){
        fetch('/orders/get-client/')
        .then(res => res.json())
        .then(data => this.client = data[0]);
      },
      getAddressText(address){
        return `${address.address}, ${address.district}, ${address.city}`;
      },
      selectAddress(index){
        this.address_select  = this.address_list[index];
        this.btnDisabled = false;
      },
      setChangeOriginAddress(){
        this.isOpen = false;
        this.btnDisabled = true;
        this.address_before = '';
        this.address_list.push(this.address_select);
        var jsonPosition = JSON.parse(this.address_select.fields.address_gps);
        changePositionAddressOrigin(jsonPosition, this.getAddressText(this.address_select.fields));
        changeInfoAddressOrigin(this.address_select.fields);
      },
      init(){
        this.getClientOrder(); 
        this.$watch('address_before', (value) => {
          if (!value) {
              this.emptyMessageText = 'Ingrese la dirección, distrito o ciudad';
              this.address_list = [];
              return;
          }
          this.getAddressBefore(value);
        });
      }
    }
  }
  function changeInfoAddressOrigin(address_selected){
    form.origin_full_name.value = address_selected.full_name;
    form.origin_email.value = address_selected.email;
    form.origin_cell_phone.value = address_selected.cell_phone;
    form.origin_reference.value = address_selected.reference;
    form.origin_address_detail.value = address_selected.address_detail;
  }
</script>
{% endblock scripts %}