{% extends "layouts/admin.html" %} {% block title %}
<title>Cuy Click Perú - Eliminar pedido de envío</title>
{% endblock title %} 

{% block content_head %}
<div class="content-head">
  <div class="left">
      <a href="{% url 'orders:add-addresses' %}" class="btn btn-link btn-small">
        <i class='bx bx-left-arrow-alt bx-sm'></i>
      </a>
      <h4>Eliminar dirección de envío</h4>
  </div>
</div>
{% endblock content_head %}
{% block content %}
 <div class="card card-form card-delete mb-10">
    <div class="mb-4 flex justify-start">
        <div class="icon icon-danger-default icon-circle icon-xl">
          <i class='bx bxs-info-circle'></i> 
        </div>
    </div>
    <div>
        <form method="post">
          {% csrf_token %}
          <h5>¿Estás seguro de eliminar el dirección de envío?</h5>
          <p>Los datos no se podrán recuperar, después que realice está operación</p>
          <div class="actions right mt-6">
          <button type="submit" class="btn btn-danger">Si, eliminar</button>
          <a href="{{ request.GET.next }}" class="btn btn-default">Cancelar</a>
          </div>
        </form>
    </div>
</div>

{% endblock content %}
