{% extends "layouts/admin.html" %}
{% block title %}
<title>Cuy Click Perú - {{ title }}</title>
{% endblock title %}
{% load static %}
{% load env_extras %}
{% load jsonify %}
{% block content_head %}
<div class="content-head">
    <div class="left">
        <a href="{% url 'details:not-onrouted-origin' pk=detail.pk %}" class="btn btn-link btn-small">
            <i class='bx bx-left-arrow-alt bx-sm'></i>
        </a>
        <h4>{{ title }}</h4>
    </div>
</div>
{% endblock content_head %}
{% block content %}
<div class="content__tracking-search">
    <div class="tracking__map" id="map">
    </div>
    <div class="content__form">
        <div>
            <div class="icon icon-warning-default rounded rounded-md">
                <img src="{% static 'icon/order-icon.svg' %}" />
            </div>
            <h5 class="mt-2 mb-2 font-bold">Detalles del paquete</h5>
            <div class="mb-2">
                {% include 'details/snippets/status.html %}
            </div>
            {% if detail.description %}
            <p>{{ detail.description }}</p>
            {% else %}
            <p>Sin ninguna nota.</p>
            {% endif %}
            <div class="mt-4">
                <h5 class="mb-2 font-bold">Dirección de recojo</h5>
                <p>{{ detail.get_tracking_code }}</p>
                <h6>{{ detail.address_origin.address_complete }}</h6>
                <div class="mt-2 subheading">{{ detail.address_origin.address_detail }}</div>
                <p>{{ detail.address_origin.reference }}</p>
            </div>
            <div class="mt-6">
                <h5 class="mb-2 font-bold">¿Quién atenderá al motorizado?</h5>
                <h6>{{ detail.address_origin.full_name }}</h6>
                <p class="flex items-center">
                    <i class="bx bx-mobile-alt bx-xs" style="margin-right: 5px;"></i>
                    <span>{{ detail.address_origin.cell_phone }}</span>
                </p>
            </div>
            {% if not detail.is_delivered or perms.add_unassigndeliveryaddress or detail.status = 'ER' %}
            <div class="actions full">
                <a href="{% url 'details:received' pk=detail.pk %}" class="btn btn-secondary btn-small btn-rounded">
                    <i class="bx bx-ckeck-circle bx-sm"></i>
                    <span>Marcar como recepcionado</span>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<div id="key" data-value="{% get_env_var 'GOOGLE_MAP_KEY' %}"></div>
{% endblock content %}

{% block scripts %}
<script>
    (function () {
        loadScript();
    })()

    function loadScript() {
        // Create the script tag, set the appropriate attributes
        var key = document.querySelector('#key');
        var keyValue = key.dataset.value;
        var script = document.createElement('script');
        script.src = 'https://maps.googleapis.com/maps/api/js?libraries=places&key=' + keyValue + '&callback=initMap';
        script.async = true;

        // Attach your callback function to the `window` object
        window.initMap = function () {
            var myLatLng = {
                lat: 52.520008,
                lng: 13.404954
            };
            window.map = new google.maps.Map(document.getElementById('map'), { zoom: 16, center: myLatLng, });
            getDrawRoute();
            setInterval(() => {
                console.log(myLatLng.lat + addN())
            }, 1000)
        };

        // Append the 'script' element to 'head'
        document.head.appendChild(script);
    }
    function addN(){
            return 0.2222 + Math.random(0.0002, 0.00055);
    }

    function getDrawRoute() {
        var directionsDisplay = new google.maps.DirectionsRenderer({ 'draggable': false });
        var directionsService = new google.maps.DirectionsService();
        var address = {{ detail.address_origin| jsonify }}[0];
        var driver = {{ driver|jsonify }}[0];
        var address_origin_text = `${driver.fields.address}, ${driver.fields.district}`;
        var address_destiny_text = `${address.fields.address}, ${address.fields.district}, ${address.fields.city}`;
        var position_driver = driver.fields.address_gps;
        var latLng = position_driver;
        latLng = new google.maps.LatLng(position_driver.lat + 0.003424, position_driver.lng - 0.000052144411);
        new google.maps.Marker({
            position: latLng,
            map,
            title: "Dirección del motorizado",
            icon: "{% static 'icon/driver-icon.png' %}"
        });

        displayRoute(
            address_origin_text,
            address_destiny_text,
            directionsService,
            directionsDisplay
        );
    }
    function displayRoute(origin_address, destiny_address, directionsService, directionsDisplay) {
        directionsService.route({
            origin: origin_address,
            destination: destiny_address,
            travelMode: 'DRIVING',
            avoidTolls: true
        }, function (response, status) {
            if (status === 'OK') {
                directionsDisplay.setMap(map);
                directionsDisplay.setDirections(response);
                // console.log(response.routes[0].legs[0].start_location().toFixed());
            } else {
                directionsDisplay.setMap(null);
                directionsDisplay.setDirections(null);
                alert('Could not display directions due to: ' + status);
            }
        });
    }
</script>
{% endblock %}