{% extends "layouts/pages.html" %}

{% block title %}
    <title>Cuy Click Perú - Registro</title>
{% endblock title %}

{% block content %}
  <div class="container-auth">
    {% include "partials/message.html" %}

    <h4>Crear una cuenta</h4>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        {% if field.field.widget.input_type == 'password' %}
        <div class="form-group-password">
          {{ field.label_tag }}
          {{ field }}
          <div id="show-password">mostrar</div>
          {% if field.errors %}
            {% for error in field.errors %}
            <div class="text-invalid">
              {{ error }}
            </div>
            {% endfor %}
          {% endif %}
        </div>
        {% else %}
        <div class="form-group">
          {{ field.label_tag }}
          {{ field }}
          {% if field.errors %}
            {% for error in field.errors %}
            <div class="text-invalid">
              {{ error }}
            </div>
            {% endfor %}
          {% endif %}
        </div>
        {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-full">Registrarse</button>
    </form>
    <p>¿Ya tengo una cuenta? <a href="{% url 'auth:login' %}" class="link">Ingresar</a></p>
 </div>
{% endblock content %}