{% extends "layouts/pages.html" %}
{% block title %}
<title>Cuy Click Perú - Inicio</title>
{% endblock title %}
{% load static %}
{% load env_extras %}
{% block content %}
<div style="position: relative; overflow: hidden;">
    <img src="{% static 'img/decoration/arrow_big.png' %}" alt="Arrow big" class="arrow__big" />
    <img src="{% static 'img/decoration/arrows_bottom.png' %}" alt="Arrows bottom" class="arrows__bottom" />
    <img src="{% static 'img/decoration/arrow_right.png' %}" alt="Arrows right" class="arrow__right" />
 
    <div class="container">

        <div class="content__tracking-search">
            <div class="tracking__map">
                <div id="map"></div>
            </div>
            <div class="content__form">
                <form id="tracking-form">
                    <h5 class="mb-6 font-bold">Dale seguimiento a tu pedido</h5>
                    <div class="form-group-search">
                        <input type="search" class="input input-outline" name="tracking_code"
                            placeholder="Ingresa tu # tracking">
                        <i class="input-icon bx bx-search bx-sm"></i>
                    </div>
                    <div class="font-medium" id="message" style="margin-top: -20px;display: none;"></div>
                    <div class="actions full">
                        <button class="btn btn-secondary btn-small btn-rounded">
                            Buscar
                        </button>
                    </div>
                    <div class="mt-4" id="content" style="display: none;">
                        <div class="detail-package">
                            <div class="detail-package__row">
                                <h6>Estado</h6>
                                <div style="justify-self: end;">
                                    <span id="status" class="badge"></span>
                                </div>
                            </div>
                            <div class="detail-package__row">
                                <h6>Distancia</h6>
                                <p id="distance"></p>
                            </div>
                        </div>
                        <div class="mt-2" x-data="{ isOpen: false }">
                            <button class="btn btn-primary btn-small" @click.prevent="isOpen = true">Ver historial de seguimiento</button>
                            <div x-show.transition.in.scale.opacity.100ms.out.scale.opacity.100ms="isOpen" class="modal">
                                <div class="modal-content card" style="width: 600px" @click.away="isOpen = false">
                                    <div class="head">
                                        <h6>Seguimiento de mi pedido</h6>
                                        <div class="close">
                                            <button @click.prevent="isOpen = false" class="btn btn-default btn-circle btn-small">
                                                <i class='bx bx-x bx-sm'></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-modal">
                                        <div id="tracking-content"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="card card-tracking">
                    <div class="card__tracking-content">
                        <h5 class="mb-5">Ingresa para realizar un pedido</h5>
                        <a href="{% url 'auth:login' %}" class="btn btn-secondary btn-small btn-rounded">
                            Ingresar ahora
                        </a>
                    </div>
                    <div class="card__tracking-img">
                        <img src="{% static 'img/cuyclick-service.PNG' %}" alt="CuyClick - Service">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="key" data-value="{% get_env_var 'GOOGLE_MAP_KEY' %}"></div>
{% endblock content %}

{% block scripts %}
<script>
    (function () {
        loadScript();

        var form = document.querySelector('#tracking-form');
        var tracking_content_element = document.querySelector('#tracking-content');
        form.addEventListener('submit', queryTrackingOrder)

        function queryTrackingOrder(ev) {
            ev.preventDefault();

            var tracking_code = form.tracking_code;
            var textMessage = document.querySelector('#message');

            if (tracking_code.value == '') {
                textMessage.innerHTML = 'El número de seguimiento es requerido';
                textMessage.classList.add('text-danger');
                textMessage.style.display = 'block';
            } else {
                textMessage.style.display = 'none';
                getOrderFetch(tracking_code.value);
            }
        }

        function getOrderFetch(tracking_code) {
            var textMessage = document.querySelector('#message');
            var directionsDisplay = new google.maps.DirectionsRenderer({ 'draggable': false });
            var directionsService = new google.maps.DirectionsService();

            fetch('orders/tracking-order?tracking_code=' + tracking_code)
                .then(res => res.json())
                .then(data => {
                    if (data.status) {
                        textMessage.style.display = 'none';
                        displayRoute(
                            data.detail.address_origin_text,
                            data.detail.address_destiny_text,
                            directionsService,
                            directionsDisplay
                        );
                        showContentTracking(data.detail);
                        showTrackingContent(data.trackings);
                    } else {
                        textMessage.innerHTML = 'El número de seguimiento no existe';
                        textMessage.classList.add('text-danger');
                        textMessage.style.display = 'block';
                    }
                })
        }
        function showContentTracking(detail) {
            var content = document.querySelector('#content');
            content.style.display = 'block';
            var statusClass = getStatusClass(detail);
            var statusBadge = content.querySelector('#status');
            statusBadge.classList.add(`badge-${statusClass}`)
            statusBadge.innerText = detail.status_label;

            content.querySelector('#distance').innerText = `${detail.distance} ${detail.distance < 1 ? 'M' : 'KM'}`;
        }
        function getStatusClass(detail) {
            var statusClass = 'warning';
            if (detail.status == 'PE') statusClass = 'warning';
            else if (detail.status == 'RE') statusClass = 'success';
            else if (detail.status == 'AL') statusClass = 'primary';
            else if (detail.status == 'ER') statusClass = 'secondary';
            else if (detail.status == 'EN') statusClass = 'success';
            else if (detail.status == 'NEN') statusClass = 'warning';
            else if (detail.status == 'REPR') statusClass = 'success';

            return statusClass;
        }
        function showTrackingContent(trackings){
            if (trackings.length > 0){
                var tracking_content = '<h6>Hola!</h6>';
                trackings.forEach((tracking) => {
                    tracking_content += `
                        <div class="mb-4">
                            <h6>${ tracking.location }</h6>
                            <div class="text-small">
                                ${ tracking.created_at }
                            </div>
                        </div>
                    `;
                });
                tracking_content_element.innerHTML = tracking_content;
            }
        }
    })()
    function displayRoute(origin_address, destiny_address, directionsService, directionsDisplay) {
        directionsService.route({
            origin: origin_address,
            destination: destiny_address,
            travelMode: 'DRIVING',
            avoidTolls: true
        }, function (response, status) {
            if (status === 'OK') {
                directionsDisplay.setMap(map);
                directionsDisplay.setDirections(response);
            } else {
                directionsDisplay.setMap(null);
                directionsDisplay.setDirections(null);
                alert('Could not display directions due to: ' + status);
            }
        });
    }

    function loadScript() {
        // Create the script tag, set the appropriate attributes
        var key = document.querySelector('#key');
        var keyValue = key.dataset.value;
        var script = document.createElement('script');
        script.src = 'https://maps.googleapis.com/maps/api/js?libraries=places&key=' + keyValue + '&callback=initMap';
        script.async = true;

        // Attach your callback function to the `window` object
        window.initMap = function () {
            var myLatLng = {
                lat: 52.520008,
                lng: 13.404954
            };
            window.map = new google.maps.Map(document.getElementById('map'), { zoom: 16, center: myLatLng, });
        };

        // Append the 'script' element to 'head'
        document.head.appendChild(script);
    }
</script>
{% endblock %}