{% extends "layouts/pages.html" %}
{% block title %}
<title>Cuy Click Perú - Inicio</title>
{% endblock title %}
{% load static %}
{% load env_extras %}
{% block content %}
<div class="content__tracking-search">
    <div class="tracking__map" id="map">
    </div>
    <div class="content__form">
        <form id="tracking-form">
            <h5 class="mb-6 font-bold">Dale seguimiento a tu pedido</h5>
            <div class="form-group-search">
                <input type="search" class="input input-outline" name="tracking_code" placeholder="Ingresa tu # tracking">
                <i class="input-icon bx bx-search bx-sm"></i>
            </div>
            <div class="font-medium" id="message" style="margin-top: -20px;display: none;"></div>
            <div class="actions full">
                <button class="btn btn-secondary btn-small btn-rounded">
                    Buscar
                </button>
            </div>
        </form>
        <div class="card card-tracking">
            <div class="card__tracking-content">
                <h5 class="mb-5">Ingresa para realizar un pedido</h5>
                <a href="{% url 'auth:login' %}" class="btn btn-secondary btn-small btn-rounded">
                    Ingresar ahora
                </a>
            </div>
            <div class="card__tracking-img">
                <img src="{% static 'img/cuyclick-service.PNG' %}" alt="CuyClick - Service">
            </div>
        </div>
    </div>
</div>
<div id="key" data-value="{% get_env_var 'GOOGLE_MAP_KEY' %}"></div>
{% endblock content %}

{% block scripts %}
<script>
    (function () {
        loadScript();

        var form = document.querySelector('#tracking-form');
        form.addEventListener('submit', queryTrackingOrder)

        function queryTrackingOrder(ev){
            ev.preventDefault();

            var tracking_code = form.tracking_code;
            var textMessage = document.querySelector('#message');

            if (tracking_code.value == ''){
                textMessage.innerHTML = 'El número de seguimiento es requerido';
                textMessage.classList.add('text-danger');
                textMessage.style.display = 'block';
            } else {
                textMessage.style.display = 'none';
                getOrderFetch(tracking_code.value);
            }
        }

        function getOrderFetch(tracking_code){
            var textMessage = document.querySelector('#message');
            var orders = [];
            var directionsDisplay = new google.maps.DirectionsRenderer({ 'draggable': false });
            var directionsService = new google.maps.DirectionsService();

            fetch('orders/tracking-order?tracking_code='+ tracking_code)
                .then(res => res.json())
                .then(data => {
                    if (data.status){
                        textMessage.style.display = 'none';
                        data.details.forEach(detail => {
                            displayRoute(
                                detail.address_origin_text, 
                                detail.address_destiny_text, 
                                directionsService, 
                                directionsDisplay
                            );
                        });

                    }else{
                        textMessage.innerHTML = 'El número de seguimiento no existe';
                        textMessage.classList.add('text-danger');
                        textMessage.style.display = 'block';
                    }
                })
        }
    })()
    function displayRoute(origin_address, destiny_address, directionsService, directionsDisplay) {
        directionsService.route({
            origin: origin_address,
            destination: destiny_address,
            travelMode: 'DRIVING',
            avoidTolls: true
        }, function (response, status) {
            if (status === 'OK') {
                directionsDisplay.setMap(map);
                directionsDisplay.setDirections(response);
            } else {
                directionsDisplay.setMap(null);
                directionsDisplay.setDirections(null);
                alert('Could not display directions due to: ' + status);
            }
        });
    }

    function loadScript() {
        // Create the script tag, set the appropriate attributes
        var key = document.querySelector('#key');
        var keyValue = key.dataset.value;
        var script = document.createElement('script');
        script.src = 'https://maps.googleapis.com/maps/api/js?libraries=places&key=' + keyValue + '&callback=initMap';
        script.async = true;

        // Attach your callback function to the `window` object
        window.initMap = function () {
            var myLatLng = {
                lat: 52.520008,
                lng: 13.404954
            };
            window.map = new google.maps.Map(document.getElementById('map'), { zoom: 16, center: myLatLng, });
        };

        // Append the 'script' element to 'head'
        document.head.appendChild(script);
    }
</script>
{% endblock %}