
.badge{
    padding: 9px 12px;
    border-radius: 12px;
    display: inline-block;
    font-weight: 500;
}
.badge-primary{
    background: rgba(var(--primary-color), .1);
    color: rgb(var(--primary-color));
}
.badge-secondary{
    background: rgba(var(--secondary-color), .1);
    color: rgb(var(--secondary-color));
}
.badge-success{
    background: rgba(var(--success-color), .1);
    color: rgb(var(--success-color));
}
.badge-warning{
    background: rgba(var(--accent-color), .1);
    color: rgb(var(--accent-color));
}
.badge-danger{
    background: rgba(var(--danger-color), .1);
    color: rgb(var(--danger-color));
}
.color-container{
    display: flex;
    align-items: center;
}

.color{
    height: 32px;
    width: 9px;
    border-radius: 31px;
    margin-right: 10px;
} 
.color.color-sm{
    height: 14px;
    width: 5px;
    border-radius: 8px;
    margin-right: 5px;
}
.color-primary{
    background: rgb(var(--primary-color));
}
.color-secondary{
    background: rgb(var(--secondary-color));
}
.color-warning{
    background: rgb(var(--accent-color));
}
.color-success{
    background: rgb(var(--success-color));
}
.color-danger{
    background: rgb(var(--danger-color));
}