.link{
    color: rgb(var(--title-color));
}
.btn{
    border: none;
    outline: none;
    padding: 16px 36px;
    font-weight: 500;
    border-radius: 16px;
    cursor: pointer;
    text-decoration: none;
    font-size: inherit;
    display: inline-block;
    text-align: center;
}
.btn:hover, .btn-circle:hover {
    opacity: .8;
}
.btn.btn-xs{
    padding: 8px 16px;
}
.btn.btn-small{
    padding: 12px 24px;
}
.btn.btn-xsmall{
    padding: 4px 6px;
    border-radius: 4px;
}
.btn-circle{
    border-radius: 50%;
    padding: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn-circle.btn-small{
    padding: 12px;
}
.btn-primary{
    background-color: rgb(var(--primary-color));
    color: white;
}
.btn-secondary{
    background-color: rgb(var(--secondary-color));
    color: white;
}
.btn-danger{
    background-color: rgb(var(--danger-color));
    color: white;
}
.btn-default{
    background-color: var(--btn-default-color);
    color: rgb(var(--title-color));
}
.btn-default > svg path{
    fill: rgb(var(--title-color));
}
.btn-link{
    background-color: transparent;
    color: rgb(var(--title-color)) !important;
}
.btn-link > svg path{
    fill: rgb(var(--title-color));
}
.btn-link:hover{
    background-color: var(--btn-default-color);
    color: rgb(var(--title-color));
}
.btn-link.danger{
    color: rgb(var(--danger-color)) !important;
}
.btn-outline-secondary{
    background-color: transparent;
    border: 2px solid rgb(var(--secondary-color));
    color: rgb(var(--secondary-color));
}
.btn-outline-primary{
    background-color: transparent;
    border: 2px solid rgb(var(--primary-color));
    color: rgb(var(--primary-color));
}
.btn-outline-danger{
    background-color: transparent;
    border: 2px solid rgb(var(--danger-color));
    color: rgb(var(--danger-color));
}
.btn-outline-warning{
    background-color: transparent;
    border: 2px solid rgb(var(--accent-color));
    color: rgb(var(--accent-color));
}
.btn-full{
    width: 100%;
    text-align: center;
}
.cursor-pointer{
    cursor: pointer;
}