.card{
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0px 3px 16px rgba(var(--title-color), 0.05);
    background: var(--bg-secondary-color);
}

.actions{
    display: flex;
    align-items: center;
}
.actions > :not(template) ~ :not(template) {
    /* margin-left: -15px; -1rem or 1rem */
    --space-x-reverse: 0;
    margin-right: calc(1rem * var(--space-x-reverse));
    margin-left: calc(1rem * (1 - var(--space-x-reverse)));
}
.actions.left{
    justify-content: flex-start;
}
.actions.right{
    justify-content: flex-end;
}

@media (min-width: 1024px){
    .card{
        padding: 32px;
    }
}