.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown .dropdown-menu{
    position: absolute;
    border-radius: 16px;
    box-shadow: 0px 3px 16px rgba(var(--title-color), 0.05);
    background-color: var(--bg-secondary-color);
    padding: 14px 9px;
    min-width: 200px;
    /* z-index: 1; */
}
.dropdown .dropdown-menu.right{
    right: 0;
}
.dropdown .dropdown-menu.left{
    left: 0;
}
.dropdown .dropdown-menu .dropdown-item{
    text-decoration: none;
    padding: 15px 13px;
    border-radius: 16px;
    color: var(--text-secondary-color);
    display: flex;
    align-items: center;
    transition-property: all;
    transition-duration: 200ms;
}
.dropdown .dropdown-menu .dropdown-item:hover{
    background-color: rgb(var(--primary-color));
    color: white;
}