{% extends "layouts/admin.html" %} {% block title %}
<title>Cuy Click Perú - Registrar motorizado</title>
{% endblock title %}

{% block content_head %}
<div class="content-head">
  <div class="left">
      <a href="{% url 'drivers:index' %}" class="btn btn-link btn-small">
        <i class='bx bx-left-arrow-alt bx-sm'></i>
      </a>
      <h4>Registrar motorizado</h4>
  </div>
</div>
{% endblock content_head %}

{% block content %}

<div class="card card-form mb-10">
  {% include "drivers/snippets/form.html" with btnText='Guardar' %} 
</div>
{% endblock content %}
