{% extends "layouts/admin.html" %}
{% block title %}
<title>Cuy Click Perú - {{ title }}</title>
{% endblock title %}
{% load static %}
{% load humanize %}
{% block content_head %}
<div class="content-head">
  <div class="left">
      <a href="{{ request.GET.next }}" class="btn btn-link btn-small">
        <i class='bx bx-left-arrow-alt bx-sm'></i>
      </a>
      <h4>{{ title }}</h4>
  </div>
</div>
{% endblock content_head %}
{% block content %}
<div class="profile">
    <div class="avatar avatar-lg">
        {% if object.user.avatar %}
            <img src="{{ object.user.avatar.url }}" alt="{{ object.full_name }}">
        {% else %}
            <img src="{% static 'img/avatar.png' %}" alt="{{ object.full_name }}">
        {% endif %}
    </div>
    <div class="info">
        <h5 class="m-0">{{ object.full_name }}</h5>
        <p><b>CÓDIGO</b> {{ object.code }}</p>
    </div>
</div>

{% if request.user.is_authenticated and request.user == object.user %}
<div class="profile-actions">
    <a href="#" class="btn btn-primary btn-small">Editar cuenta</a> 
    {% if object.vehicle %}
    <a href="{% url 'drivers:update-vehicle' object.vehicle.pk %}?next={{ request.path }}" class="btn btn-link btn-small">
      Editar moto
    </a>
    {% else %}
    <a href="{% url 'drivers:create-vehicle' %}?next={{ request.path }}" class="btn btn-link btn-small">
      Registrar moto
    </a>
    {% endif %}
</div>
{% endif %}


<div class="profile-content mb-10">
    <div class="col">
        <div class="card profile-count mb-4">
            <div class="text-center">
                <h3>{{ object.orders_count }}</h3>
                <div class="text-small text-uppercase font-medium">Pedidos</div>
            </div>
            <div class="text-center">
                <h3>{{ object.clients_count }}</h3>
                <div class="text-small text-uppercase font-medium">Clientes atendidos</div>
            </div>
        </div> 
        <div class="mb-4 card driver-avatars">
          <h6 class="title">Clientes asociados</h6>
          <div class="avatars">
            {% for client in object.get_last_clients %}
              <div class="avatar avatar-sm">
                {% if client.user.avatar %}
                  <img src="{{ client.user.avatar.url }}" alt="{{ client.full_name }}">
                {% else %}
                  <img src="{% static 'img/avatar.png' %}" alt="{{ client.full_name }}">
                {% endif %}
              </div> 
            {% endfor %}
            {% if object.clients_count > object.get_last_clients.count %}
              <div class="avatar more avatar-sm">
                  <span>{{ object.clients_more_count }}+</span>
              </div> 
            {% endif %}
          </div>
      </div>
    </div>
    
     <div class="col card valorations">
        <div class="valorations-head">
            <div class="title">
                <h6>Últimas valoraciones</h6>
                <div class="badge badge-secondary">{{ object.valorations_count }}</div>
            </div>
            {% if perms.valorations.add_valoration %}
                <a href="{% url 'drivers:valoration' object.slug %}?next={{request.path|urlencode}}" class="btn btn-outline-warning btn-xs">Valorar</a>
            {% endif %}
        </div>   
        <div class="valoration-list">
            {% if object.valorations_count %}
            {% for valoration in object.get_last_valorations %}
            
            <div class="valoration-item">
                <div class="avatar avatar-md">
                    {% if valoration.client.user.avatar %}
                    <img src="{{ valoration.client.user.avatar.url }}" alt="{{ valoration.client.full_name }}">
                    {% else %}
                    <img src="{% static 'img/avatar.png' %}" alt="{{ valoration.client.full_name }}">
                    {% endif %}
                </div>
                <div class="valoration-content">
                    <h6>{{ valoration.client.full_name }}</h6>
                    <div class="valoration-detail">
                        <p>Hace {{ valoration.created_at|timesince }}</p>
                        <p>&middot;</p>
                        <span>
                            <i class='bx bxs-star text-warning'></i>
                            <span class="text-body">{{ valoration.rating }}</span>
                        </span>
                    </div>
                    <p>{{ valoration.experience }}</p>
                </div>
            </div>
            {% endfor %}
            {% comment %} <a href="#" class="mt-2 btn btn-primary btn-full">Ver más</a> {% endcomment %}
            {% else %}
            <p class="text-small">El motorizado no tiene valoraciones</p>
            {% endif %}
        </div>
    </div>
</div> 
{% endblock content %}