{% extends "layouts/admin.html" %} {% block title %}
<title>Cuy Click Perú - {{ title }}</title>
{% endblock title %} 
{% block content_head %}
<div class="content-head">
  <div class="left">
    <h4>{{ title }}</h4>
  </div>
  <div class="right">
  <div x-data="{ isOpen: false }" class="container-modal">
    <button @click="isOpen = true" class="btn btn-link btn-small">
      <svg
        class="filter"
        width="24"
        height="24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M8 20a4 4 0 01-3.875-3H2v-2h2.126A4 4 0 118 20zm0-6a2 2 0 102 2.09v.4V16a2 2 0 00-2-2zm14 3h-9v-2h9v2zm-9-5a4 4 0 01-3.874-3H2V7h7.126A4 4 0 1113 12zm0-6a2 2 0 102 2.09v.4V8a2 2 0 00-2-2zm9 3h-4V7h4v2z"
                fill="#2E3A59"
            />
        </svg>
        </button>
        <div 
            x-show.transition.in.scale.opacity.100ms.out.scale.opacity.100ms="isOpen"
            class="modal modal-right">
            <div 
                class="modal-content card" style="width: 400px" 
                @click.away="isOpen = false" 
            >
                <div class="head">
                    <h6>Búsqueda avanzada</h6>
                    <div class="close">
                        <button @click="isOpen = false" class="btn btn-default btn-circle btn-small">
                            <i class='bx bx-x bx-sm' ></i>
                        </button>
                    </div>
                </div>
                <form method='GET' class="form-modal">
                    <div class="form-group">
                        <input type='search' name='q' placeholder="¿Qué estás buscando?" value='{{ request.GET.q }}' class="input">
                    </div>
                    <div class="form-group">
                        <label for="date">Fecha de registro</label>
                        <input type="date" class="input" name="date" id="date" value="{{ request.GET.date }}">
                    </div>
                    <div class="actions right">
                    <button type='submit' class="btn btn-primary">Buscar</button>
                    </div>
                </form> 
            </div>
        </div>
    </div>
    <a href="{% url 'auth:create' %}" class="btn btn-link btn-small text-primary">
      <i class='bx bx-plus bx-sm' ></i>
      <span>Nuevo motorizado</span>
    </a>
  </div>
</div>
{% endblock content_head %}
{% block content %}

<div class="card mb-10">
    <div class="table-list">
        <div class="table-list-head">
            <div class="table-list-head-item col-id">
                #
            </div>
            <div class="table-list-head-item">
                Nombre completo
            </div>
            <div class="table-list-head-item">
                Celular
            </div>
            <div class="table-list-head-item">
                Valoración
            </div>
            <div class="table-list-head-item">
                Acciones 
            </div>
        </div>
        {% if object_list.count > 0 %}
        {% for driver in object_list %}
        <div class="table-list-row">
            <div class="table-list-col">
                <div class="title">#</div>
                <p class="text-muted font-bold content">{{ driver.pk }}</p>
            </div>
            <div class="table-list-col">
                <div class="title">Nombre completo</div>
                <div class="content">
                    <h6>{{ driver.full_name }}</h6>
                    <p>DNI {{ driver.dni }}</p>
                </div>
            </div>
            <div class="table-list-col">
                <div class="title">Celular</div>
                <p class="text-normal content">{{ driver.cell_phone }}</p>
            </div>
            <div class="table-list-col">
                <div class="title">Valoración</div>
                <div class="content">
                  {% if driver.valorations_count > 0 %}
                    <span class="text-success">4.0</span> <span class="text-normal">({{driver.valorations_count}} votos)</span>
                  {% else %}
                    <span class="text-small text-muted">Sin valoraciones</span>
                  {% endif %}
                </div>
            </div>
            <div class="table-list-col actions m-0">
              {% if perms.drivers.view_driver %}
                <a href="{% url 'drivers:detail' driver.slug %}" class="btn btn-link btn-small">Ver</a>
              {% endif %}
              {% if perms.drivers.change_driver %}
                <a href="{% url 'drivers:update' driver.slug %}" class="btn btn-link btn-small">Editar</a>
              {% endif %}
              {% if perms.drivers.delete_driver %}
                <a href="{% url 'drivers:delete' driver.slug %}" class="btn btn-link danger btn-small">Eliminar</a>
              {% endif %}
            </div>
        </div>
        {% endfor %}
        {% else %} 
        <p class="text-muted mt-2 mb-2">0 motorizados</p>
        {% endif %}
    </div>
    {% if object_list.count > 0 %}
    <div class="table-list-bottom">
        <div class="table-list-details">
            <p>
                Página
                <span class="font-medium">{{ page_obj.number }}</span>
                de
                <span class="font-medium">{{ page_obj.paginator.num_pages }}</span>
                -
                Total
                <span class="font-semibold">{{ object_list.count }}</span>
                registros
            </p>
        </div>
        <div class="pagination space-x">
          {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="pagination-item">Anterior</a>
          {% else %}
            <a class="pagination-item disable">Anterior</a>
          {% endif %}

          {% for i in page_obj.paginator.page_range %} 
            {% if page_obj.number == i %}
              <a class="pagination-item page-number active">{{ i }}</a>
            {% else %}
              <a href="?page={{ i }}" class="pagination-item page-number">{{ i }}</a>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="pagination-item">Siguiente</a>
          {% else %}
            <a class="pagination-item disable">Siguiente</a>
          {% endif %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}
