{% extends "layouts/admin.html" %} {% block title %}
<title>Cuy Click Perú - Pedido registrado {{ order.tracking_code }}</title>
{% endblock title %} 
{% block content_head %}
<div class="content-head">
  <div class="left">
      <h4># TRACKING {{ order.tracking_code }}</h4>
  </div>
</div>
{% endblock content_head %}
{% block content %}
<div>Cliente: {{ user.client.full_name }}</div>
<div>Pedido #:{{ order.tracking_code }}</div>
<div class="mt-5">
  <button class="btn btn-secondary">Consultar pedido</button>
</div>
{% endblock content %}
