.form-grid-2{
    display: grid;
    grid-template-columns: 1fr; 
    grid-gap: 0 20px;
}
.form-grid-3{
    display: grid;
    grid-template-columns: 1fr;
    place-items: start;
    grid-gap: 0 20px;
}
.form-grid-3.detail-address{
    grid-template-columns: 1fr;
    grid-gap: 20px 0;
}
.form-grid-3.detail-address > i{
    color: var(--text-color);
    transform: rotate(90deg);
    align-self: center;
    justify-self: center;
}
.form-grid-3.detail-address > div{
    width: 100%;
}                

@media (min-width: 768px){
    .form-grid-2{
        grid-template-columns: repeat(2, 1fr); 
    }
    .form-grid-3{
        grid-template-columns: repeat(3, 1fr);
    }
    .form-grid-3.detail-address{
        grid-template-columns: 1fr 8em 1fr;
    }
    .form-grid-3.detail-address > i{
        transform: rotate(0deg);
    }

}

@media (min-width: 1024px){
    
}