{% extends "layouts/admin.html" %}

{% block title %}
<title>Cuy Click Perú - {{ title }}</title>
{% endblock title %}
{% block content_head %}
<div class="content-head">
    <div class="left">
        <a href="{% url 'details:not-onrouted-delivery' pk=detail.pk  %}" class="btn btn-link btn-small">
            <i class='bx bx-left-arrow-alt bx-sm'></i>
        </a>
        <h4>{{ title }}</h4>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="mb-10">
    <div class="card card-form">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
            {% for error in field.errors %}
            <div class="text-invalid">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
            </div>
            {% endfor %}
        
            <div class="actions reverse right">
                <a href="{% url 'details:not-onrouted-delivery' pk=detail.pk %}" class="btn btn-default">Cancelar</a>
                <button type="submit" class="btn btn-primary">Entregado</a>
            </div>
        </form>
    </div>
</div>  
    
{% endblock content %}