{% extends "layouts/admin.html" %}
{% block title %}
<title>Cuy Click Perú - {{ title }}</title>
{% endblock title %}
{% load static %}
{% load humanize %}
{% block content_head %}
<div class="content-head">
    <div class="left">
        <h4>{{ title }}</h4>
    </div>
    <div class="right">
        <!-- <div x-data="{ isOpen: false }" class="container-modal">
            <button @click="isOpen = true" class="btn btn-link btn-small">
            <svg
            class="filter"
            width="24"
            height="24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M8 20a4 4 0 01-3.875-3H2v-2h2.126A4 4 0 118 20zm0-6a2 2 0 102 2.09v.4V16a2 2 0 00-2-2zm14 3h-9v-2h9v2zm-9-5a4 4 0 01-3.874-3H2V7h7.126A4 4 0 1113 12zm0-6a2 2 0 102 2.09v.4V8a2 2 0 00-2-2zm9 3h-4V7h4v2z"
                    fill="#2E3A59"
                />
            </svg>
            </button>
            <div 
                x-show.transition.in.scale.opacity.100ms.out.scale.opacity.100ms="isOpen"
                class="modal modal-right">
                <div 
                    class="modal-content card" style="width: 400px" 
                    @click.away="isOpen = false" 
                >
                    <div class="head">
                        <h6>Búsqueda avanzada</h6>
                        <div class="close">
                            <button @click="isOpen = false" class="btn btn-default btn-circle btn-small">
                                <i class='bx bx-x bx-sm' ></i>
                            </button>
                        </div>
                    </div>
                    <form method='GET' class="form-modal">
                        <div class="form-group">
                            <input type='search' name='q' placeholder="¿Qué estás buscando?" value='{{ request.GET.q }}' class="input">
                        </div>
                        <div class="form-group">
                            <label for="date">Fecha de registro</label>
                            <input type="date" class="input" name="date" id="date" value="{{ request.GET.date }}">
                        </div>
                        <div class="form-group">
                            <label for="status">Estado</label>
                            <select name="status" id="status" class="input">
                                <option value="">Seleccionar el estado</option>
                                <option value="{{ statuses.REGISTERED }}" {% if status == 'REGISTERED'%}selected{% endif %}>Entregado</option>
                                <option value="{{ statuses.ON_ROUTE }}" {% if status == 'ON_ROUTE'%}selected{% endif %}>En Ruta</option>
                                <option value="{{ statuses.DELIVERED }}" {% if status == 'DELIVERED'%}selected{% endif %}>Entregado</option>
                                <option value="{{ statuses.UNDELIVERED }}" {% if status == 'UNDELIVERED'%}selected{% endif %}>No Entregado</option>
                                <option value="{{ statuses.REPROGRAMMED }}" {% if status == 'REPROGRAMMED'%}selected{% endif %}>Reprogramado</option>
                            </select>
                        </div>
                        
                        <div class="actions right">
                            <button type='submit' class="btn btn-primary">Buscar</button>
                        </div>
                    </form> 
                </div>
            </div>
        </div> -->
    </div>
</div>
{% endblock content_head %}
{% block content %}
<!-- <div class="filter-list space-x-2">
    <a href="{% url 'orders:index' %}?status={{ statuses.REGISTERED }}" class="btn btn-{% if status == statuses.REGISTERED %}primary{% else %}link{% endif %} btn-small">Registrado</a>
    <a href="{% url 'orders:index' %}?status={{ statuses.ON_ROUTE }}" class="btn btn-{% if status == statuses.ON_ROUTE %}primary{% else %}link{% endif %} btn-small">En Ruta</a>
    <a href="{% url 'orders:index' %}?status={{ statuses.DELIVERED }}" class="btn btn-{% if status == statuses.DELIVERED %}primary{% else %}link{% endif %} btn-small">Entregado</a>
    <a href="{% url 'orders:index' %}?status={{ statuses.UNDELIVERED }}" class="btn btn-{% if status == statuses.UNDELIVERED %}primary{% else %}link{% endif %} btn-small">No Entregado</a>
    <a href="{% url 'orders:index' %}?status={{ statuses.REPROGRAMMED }}" class="btn btn-{% if status == statuses.REPROGRAMMED %}primary{% else %}link{% endif %} btn-small">Reprogramado</a>
</div> -->
<div class="mb-10 order-list-grid">
    <div class="order-list-head">
        <div class="order-list-head-item">
            Detalles del pedido
        </div>
        <div class="order-list-head-item">
            Dirección de recojo
        </div>
        <div class="order-list-head-item">
          ¿Quién te atenderá? 
        </div>
        <div class="order-list-head-item" style="justify-self: end;">
            Acciones
        </div>
    </div>

    {% if object_list.count > 0 %}

    {% for object in object_list %}

    <div class="card card-normal order-list-row" x-data="{ isOpenSm: false, isOpenMd: false }">
        <div class="order-list-col">
            <div class="icon icon-warning-default rounded rounded-md">
                <img src="{% static 'icon/order-icon.svg' %}" />
            </div>
            <div class="content" style="align-items: flex-start;">
                <p class="text-small text-muted font-normal"># TRACKING {{ object.detail.order.tracking_code }}</p>
                <h6>{{ object.detail.order.client.full_name }}</h6>
                <div class="order-detail">
                    <p>{{ object.detail.order.created_at|naturaltime }}</p>
                </div>
            </div>
            <div class="cursor-pointer icon-view h6" @click="isOpenSm = true">
                <i class='bx bx-dots-horizontal-rounded bx-sm'></i>
            </div>
        </div>
        <div class="order-list-col">
            {% if object.detail.address_origin %}
            <h6>{{ object.detail.address_origin.address }}</h6>
            <p>{{ object.detail.address_origin.address_city }}</p>
            {% else %}
            <p class="text-small">Dirección no disponible</p>
            {% endif %}
        </div>
        <div class="order-list-col">
            <h6>{{ object.detail.address_origin.full_name }}</h6>
            <p class="flex items-center">
                <i class="bx bx-mobile-alt bx-xs" style="margin-right: 5px;"></i>
                <span>{{ object.detail.address_origin.cell_phone }}</span>
            </p>
        </div>
        <div class="order-list-col">
            {% include "details/snippets/status.html" with detail=object.detail %}
        </div>

        <div class="order-list-col dropdown" style="justify-self: end;">
            <div class="cursor-pointer h6" @click="isOpenMd = !isOpenMd">
                <i class='bx bx-dots-horizontal-rounded bx-sm'></i>
            </div>
            <div class="dropdown-menu right"
                x-show.transition.in.origin.bottom.right.scale.opacity.400ms.out.origin.top.right.scale.20="isOpenMd"
                @click.away="isOpenMd = false">
                {% if perms.details.view_assignoriginaddress %}
                <a href="{{ object.detail.origin_map_path }}"
                    class="dropdown-item-2">
                    <span>Ver mapa</span>
                    <i class='bx bx-map-pin bx-sm'></i>
                </a>
                {% endif %}
            </div>
        </div>
        <div x-show.transition.in.scale.opacity.100ms.out.scale.opacity.100ms="isOpenSm" class="modal modal-sheet">
            <div class="modal-content card" style="width: 100%" @click.away="isOpenSm = false">
                <div class="head">
                    <h6>Acciones</h6>
                    <div class="close">
                        <button @click="isOpenSm = false" class="btn btn-default btn-circle btn-small">
                            <i class='bx bx-x bx-sm'></i>
                        </button>
                    </div>
                </div>
                <div class="form-modal">
                    <div class="options">
                        {% if perms.details.view_assignoriginaddress %}
                        <a href="{{ object.detail.origin_map_path }}" class="option-item">
                            <span>Ver mapa</span>
                            <div class="icon ">
                                <i class='bx bx-map-pin bx-sm'></i>
                            </div>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}

    <div class="mb-10 table-list-bottom">
        <div class="table-list-details">
            <p>
                Página
                <span class="font-medium">{{ page_obj.number }}</span>
                de
                <span class="font-medium">{{ page_obj.paginator.num_pages }}</span>
                -
                Total
                <span class="font-semibold">{{ object_list.count }}</span>
                registros
            </p>
        </div>
        <div class="pagination space-x">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="pagination-item">Anterior</a>
            {% else %}
            <a class="pagination-item disable">Anterior</a>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
            <a class="pagination-item page-number active">{{ i }}</a>
            {% else %}
            <a href="?page={{ i }}" class="pagination-item page-number">{{ i }}</a>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="pagination-item">Siguiente</a>
            {% else %}
            <a class="pagination-item disable">Siguiente</a>
            {% endif %}
        </div>
    </div>

    {% else %}
    <div class="card mb-10">
        <p>
            Sin registros...
        </p>
    </div>
    {% endif %}
</div>
{% endblock content %}