{% extends "layouts/admin.html" %}
{% block title %}
<title>Cuy Click Perú - {{ title }}</title>
{% endblock title %}
{% load static %}
{% load humanize %}
{% block content_head %}
<div class="content-head">
    <div class="left">
        <h4>{{ title }}</h4>
    </div>
    <div class="right">
    </div>
</div>
{% endblock content_head %}
{% block content %}
<div>
    <div class="container-modal" x-data="addressState()" x-init="init()">

        <div id="assign-to-driver" class="mb-4 mt-4">
            <a type="button" class="btn btn-secondary btn-small btn-rounded" @click="isOpen = true">
                <i class="bx bx-check-circle bx-sm"></i>
                <span>Asignar a un motorizado</span>
            </a>
        </div>
        <div x-show.transition.in.scale.opacity.100ms.out.scale.opacity.100ms="isOpen" class="modal">
            <div class="modal-content card" style="width: 450px" @click.away="isOpen = false">
                <div class="head">
                    <h6>Asignar un motorizado</h6>
                    <div class="close">
                        <a @click="isOpen = false" class="btn btn-default btn-circle btn-small">
                            <i class='bx bx-x bx-sm m-0'></i>
                        </a>
                    </div>
                </div>
                <form id="assign-form" class="form-modal" method="POST" action="{% url 'orders:assign-deliveries' %}">
                    {% csrf_token %}
                    <div class="form-group-search m-0">
                        <input type="search" class="input input-outline" id="seach" x-model="search" ref="search"
                            placeholder="Buscar un motorizado" />
                        <i class="input-icon bx bx-search bx-sm"></i>
                    </div>
                    <div class="options-2 mt-4">
                        <template x-if="driver_list.length || driver_select" x-for="(driver, index) in driver_list"
                            :key="index">
                            <div class="option-item" style="transition: all 1s;"
                                :class="{'active': driver_select.pk === driver.pk}" @click="selectDriver(index)">
                                <i class="bx bx-check-circle bx-md"></i>
                                <div>
                                    <p class="text-muted text-small text-left" x-text="`DNI ${driver.fields.dni}`"></p>
                                    <p class="text-primary text-left" x-text="getFullNameText(driver.fields)"></p>
                                </div>
                            </div>
                        </template>
                    </div>
                    <div x-show="!driver_list.length" class="alert text-muted" x-text="emptyMessageText"></div>
                    <input type="hidden" name="driver_id" required>
                    <input type="hidden" name="assign_addresses_ids" required>
                    <div class="actions right">
                        <a @click="isOpen = false" class="btn btn-default">Cancelar</a>
                        <button type="submit" :disabled="btnDisabled" class="btn btn-primary">Asignar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="mb-10 order-list-grid">
    <div class="order-list-head">
        <div class="order-list-head-item">
            Detalles del pedido
        </div>
        <div class="order-list-head-item">
            Dirección de envío
        </div>
        <div class="order-list-head-item">
            ¿Quién te atenderá?
        </div>
        <div class="order-list-head-item" style="justify-self: end;">
            Acciones
        </div>
    </div>

    {% if object_list.count > 0 %}

    {% for object in object_list %}

    <div class="card card-normal order-list-row checkbox" x-data="{ isOpenSm: false, isOpenMd: false }">
        <div class="checkbox">
            <input type="checkbox" onclick="selectAddressDetail({{object.detail.id}})" value="{{ object.detail.id }}">
        </div>
        <div class="order-list-col">
            <div class="icon icon-warning-default rounded rounded-md">
                <img src="{% static 'icon/order-icon.svg' %}" />
            </div>
            <div class="content" style="align-items: flex-start;">
                <p class="text-small text-muted font-normal"># TRACKING {{ object.detail.order.tracking_code }}</p>
                <h6>{{ object.detail.order.client.full_name }}</h6>
                <div class="order-detail">
                    <p>{{ object.detail.order.created_at|naturaltime }}</p>
                </div>
            </div>
            <div class="cursor-pointer icon-view h6" @click="isOpenSm = true">
                <i class='bx bx-dots-horizontal-rounded bx-sm'></i>
            </div>
        </div>
        <div class="order-list-col">
            {% if object.detail.address_destiny %}
            <h6>{{ object.detail.address_destiny.address }}</h6>
            <p>{{ object.detail.address_destiny.address_city }}</p>
            {% else %}
            <p class="text-small">Dirección no disponible</p>
            {% endif %}
        </div>
        <div class="order-list-col">
            <h6>{{ object.detail.address_destiny.full_name }}</h6>
            <p class="flex items-center">
                <i class="bx bx-mobile-alt bx-xs" style="margin-right: 5px;"></i>
                <span>{{ object.detail.address_destiny.cell_phone }}</span>
            </p>
        </div>
        <div class="order-list-col">
            {% include "details/snippets/status.html" with detail=object.detail %}
        </div>

        <div class="order-list-col dropdown" style="justify-self: end;">
            <div class="cursor-pointer h6" @click="isOpenMd = !isOpenMd">
                <i class='bx bx-dots-horizontal-rounded bx-sm'></i>
            </div>
            <div class="dropdown-menu right"
                x-show.transition.in.origin.bottom.right.scale.opacity.400ms.out.origin.top.right.scale.20="isOpenMd"
                @click.away="isOpenMd = false">
                {% if perms.details.view_detail %}
                <a href="{{ object.detail.destiny_map_path }}" class="dropdown-item-2">
                    <span>Ver mapa</span>
                    <i class='bx bx-map-pin bx-sm'></i>
                </a>
                {% endif %}
            </div>
        </div>
        <div x-show.transition.in.scale.opacity.100ms.out.scale.opacity.100ms="isOpenSm" class="modal modal-sheet">
            <div class="modal-content card" style="width: 100%" @click.away="isOpenSm = false">
                <div class="head">
                    <h6>Acciones</h6>
                    <div class="close">
                        <button @click="isOpenSm = false" class="btn btn-default btn-circle btn-small">
                            <i class='bx bx-x bx-sm'></i>
                        </button>
                    </div>
                </div>
                <div class="form-modal">
                    <div class="options">
                        {% if perms.details.view_detail %}
                        <a href="{{ object.detail.destiny_map_path }}" class="option-item">
                            <span>Ver mapa</span>
                            <div class="icon ">
                                <i class='bx bx-map-pin bx-sm'></i>
                            </div>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}

    <div class="mb-10 table-list-bottom">
        <div class="table-list-details">
            <p>
                Página
                <span class="font-medium">{{ page_obj.number }}</span>
                de
                <span class="font-medium">{{ page_obj.paginator.num_pages }}</span>
                -
                Total
                <span class="font-semibold">{{ object_list.count }}</span>
                registros
            </p>
        </div>
        <div class="pagination space-x">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="pagination-item">Anterior</a>
            {% else %}
            <a class="pagination-item disable">Anterior</a>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
            <a class="pagination-item page-number active">{{ i }}</a>
            {% else %}
            <a href="?page={{ i }}" class="pagination-item page-number">{{ i }}</a>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="pagination-item">Siguiente</a>
            {% else %}
            <a class="pagination-item disable">Siguiente</a>
            {% endif %}
        </div>
    </div>

    {% else %}
    <div class="card mb-10">
        <p>
            Sin registros...
        </p>
    </div>
    {% endif %}
</div>
{% endblock content %}
{% block scripts %}
<script>
    var assign_addresses = [];
    var visible = false;
    var assign_to_driver = document.getElementById('assign-to-driver');
    var form = document.getElementById('assign-form');
    (function () {
        setHidden();
    })()
    function selectAddressDetail(id) {
        if (assign_addresses.includes(id)) {
            var index = assign_addresses.indexOf(id);
            assign_addresses.splice(index, 1);
        } else {
            assign_addresses.push(id);
        }
        validateAssignOrigin();
    }
    function validateAssignOrigin() {
        if (assign_addresses.length > 0) {
            visible = true;
            setVisible();
        } else {
            visible = false;
            setHidden();
        }
    }
    function setVisible() {
        assign_to_driver.classList.remove('hidden');
        assign_to_driver.classList.add('visible');
    }
    function setHidden() {
        assign_to_driver.classList.remove('visible');
        assign_to_driver.classList.add('hidden');
    }
    function addressState() {
        return {
            isOpen: false,
            search: '',
            driver_list: [],
            driver_select: {},
            emptyMessageText: 'Ingrese el distrito, dni o apellidos y nombres',
            btnDisabled: true,
            getDrivers(value) {
                fetch('/drivers/get-drivers/?q=' + value)
                    .then(res => res.json())
                    .then(data => {
                        if (!data.length) {
                            this.emptyMessageText = 'Sin resultados';
                            this.driver_list = [];
                            return;
                        }
                        this.driver_list = data;
                    });
            },
            getFullNameText(driver) {
                return `${driver.first_name}, ${driver.last_name}`;
            },
            selectDriver(index) {
                this.driver_select = this.driver_list[index];
                this.btnDisabled = false;
                changeFieldsAssign(this.driver_select);
            },
            init() {
                this.$watch('search', (value) => {
                    if (!value) {
                        this.emptyMessageText = 'Ingrese el distrito, dni o apellidos y nombres';
                        this.driver_list = [];
                        return;
                    }
                    this.getDrivers(value);
                });
            }
        }
    }
    function changeFieldsAssign(driver_selected) {
        form.driver_id.value = driver_selected.pk;
        form.assign_addresses_ids.value = JSON.stringify(assign_addresses);
    }
</script>
<style>
    #assign-to-driver {
        display: none;
        transition: all 1s ease-in;
        transform: translateY(-20px);
        opacity: 0;
    }

    #assign-to-driver.visible {
        display: flex;
        justify-content: flex-end;
        animation: slide-out 1s forwards;
    }

    #assign-to-driver.hidden {
        display: none;
        animation: slide-in 1s forwards;
    }

    @keyframes slide-in {
        100% {
            opacity: 0;
            transform: translateY(-20px);
        }
    }

    @keyframes slide-out {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>
{% endblock %}