.collapse{
    width: 100%;
}
.collapse .collapse-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border: 2px solid var(--btn-default-color);
    border-radius: 8px;
}
.collapse .collapse-title i{
    color: var(--text-color);
    cursor: pointer;
}
.collapse .collapse-content{
    padding: 20px 15px;
    border: 2px solid var(--btn-default-color);
    border-radius: 8px;
}