.icon{
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.icon-primary{
    background: rgb(var(--primary-color));
    color: white;
}
.icon-primary-default{
    background: rgba(var(--primary-color), .2);
    color: rgb(var(--title-color));
}
.icon-secondary{
    background: rgb(var(--secondary-color));
    color: white;
}
.icon-secondary-default{
    background: rgba(var(--secondary-color), .2) !important;
    color: white;
}
.icon-success{
    background: rgb(var(--success-color));
    color: white;
}
.icon-success-default{
    background: rgba(var(--success-color), .2);
    color: white;
}
.icon-warning{
    background: rgb(var(--accent-color));
    color: white;
}
.icon-warning-default{
    background: rgba(var(--accent-color), .3);
    color: rgb(var(--accent-color));
}
.icon-danger{
    background: rgb(var(--danger-color));
    color: white;
}
.icon-danger-default{
    background: rgba(var(--danger-color), .2);
    color: rgb(var(--danger-color));
}
.icon-circle{
    border-radius: 50%;
}
.icon-sm{
    font-size: 24px;
    width: 28px;
    height: 28px;
}
.icon-lg{
    font-size: 32px;
    width: 54px;
    height: 54px;
}
.icon-xl{
    font-size: 42px;
    width: 80px;
    height: 80px;
}

/* Icon SVG */
.icon-svg > path, .icon-svg > g circle{
    fill: rgb(var(--title-color));
}