.modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    background:rgba(0,0,0, .2);
    z-index: 1;
}
.modal-content.card{
    border-radius: 0;
    overflow-x: auto;
    max-height: 100vh;
}
.modal-content .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-content .head h6{
    flex: auto;
    text-align: left;
}
.modal-content .head .close{
    flex: 0 auto;
}
.modal-content .form-modal{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
}
.modal.modal-sheet{
    justify-content: stretch;
    align-items: flex-end;
}
.modal.modal-sheet .modal-content{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

@media (min-width: 1024px){
    .modal{
        justify-content: center;
        align-items: center;
    }
    .modal.modal-right{
        justify-content: flex-end;
        align-items: stretch;
    }
    
    .modal.modal-right .modal-content.card{
        border-radius: 0;
    }
    .modal-content.card{
        border-radius: 16px;
    }
}