.page-admin .page-content nav{
    display: flex;
    align-items: center;
    height: 100px;
}
.page-admin .page-content nav .navbar-left {
    margin-right: auto;
}
.page-admin .page-content nav .navbar-left .logo {
    display: block;
}
.page-admin .page-content nav .navbar-right {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.page-admin .page-content nav .navbar-right .nav-item {
    margin-left: 40px;
}
.page-admin .page-content nav a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.page-admin .page-content nav a > :not(template) ~ :not(template) {
    --space-x-reverse: 0;
    margin-right: calc(1rem * var(--space-x-reverse));
    margin-left: calc(1rem * (1 - var(--space-x-reverse)));
}
.page-admin .page-content nav a .nav-content > h6, p{ 
    margin: 0;
}
.page-admin .page-content nav a .nav-content, .page-admin .page-content nav a svg{ 
    display: none;
}
.page-admin .page-content nav .navbar-right .nav-item i {
    color: var(--text-secondary-color);
}

@media (min-width: 1140px) { 
    .page-admin .page-content nav{
        height: 90px;
    }
    .page-admin .page-content nav a .nav-content, .page-admin .page-content nav a svg{ 
        display: block;
    }
    .page-admin .page-content nav .navbar-left .logo {
        display: none;
    }
}