.pagination{
    display: flex;
    justify-content: space-between;
}
.pagination .pagination-item{
    text-decoration: none;
    border: none;
    padding: 12px 24px;
    background-color: var(--btn-default-color);
    color: rgb(var(--title-color));
    border-radius: 16px;
    font-weight: 500;
}
.pagination .pagination-item:hover{
    opacity: .8;
}
.pagination .pagination-item.active{
    background-color: rgb(var(--primary-color));
    color: white;
}
.pagination .pagination-item.disable{
    background-color: rgba(var(--title-color), 0.2);
    color: var(--text-secondary-color);
    cursor: not-allowed;
    opacity: 1;
}
.pagination .pagination-item.page-number{
    display: none;
}

@media (min-width: 1024px){
    .pagination{
        justify-content: flex-end;
    }
    .pagination .pagination-item.page-number{
        display: block;
    }
}

