.step-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 40px;
}
.step{
    display: flex;
    flex-direction: column;
}
.step-icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.step .step-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: var(--btn-default-color);
    color: var(--text-color);
    border: 5px solid rgb(var(--btn-default-color), .5) !important;
    border-radius: 50%;
}
.step .step-content{
    margin-left: 0;
    margin-top: 10px;
}
.step .caption{
    font-weight: 500;
    text-transform: uppercase;
}
.step .step-content h6{
    color: var(--text-color);
}
.step .step-progress-mobile{
    display: block;
    height: 5px;
    min-width: 250px;
    background: var(--btn-default-color);
    margin-top: 10px;
}
.step .step-progress-desktop{
    display: none;
    height: 5px;
    min-width: 150px;
    background: var(--btn-default-color);
    margin-left: 20px;
}
.step.active{
    margin-left: 0;
}
.step.active .step-icon{
    background-color: rgb(var(--secondary-color));
    color: white;
    border: 5px solid #ebebeb !important;
}
.step.active .step-content h6{
    color: rgb(var(--title-color));
}
.step.active .step-progress-mobile{
    background: rgb(var(--secondary-color));
}
.step.active .step-progress-desktop{
    background: rgb(var(--secondary-color));
}
.step.success .step-icon{
    background-color: rgb(var(--success-color));
    color: white;
    border: 5px solid rgb(var(--success-color)) !important;
}
.step.success .step-content h6{
    color: rgb(var(--title-color));
}
.step.success .step-progress-mobile{
    background: rgb(var(--success-color));
}
.step.success .step-progress-desktop{
    background: rgb(var(--success-color));
}
.step:last-child .step-icon-wrapper .step-progress-desktop{
    display: none;
}
.step-wrapper > :not(.step.active){
    display: none;
}
@media(min-width: 768px){
    .step-wrapper{
        justify-content: center;
    }
    .step-wrapper > :not(template) ~ :not(template){
        --space-x-reverse: 0;
        margin-right: calc(2rem * var(--space-x-reverse));
        margin-left: calc(2rem * (1 - var(--space-x-reverse)));
    }
    .step.active{
        margin-left: calc(2rem * (1 - var(--space-x-reverse)));
    }
    .step{
        flex-direction: column;
    }
    .step .step-progress-mobile{
        display: none;
    }
    .step .step-progress-desktop{
        display: block;
    }
    .step .step-content{
        margin-left: 0;
        margin-top: 10px;
    }
    .step-wrapper > :not(.step.active){
        display: flex;
    }
}