.table-list{
    display: flex;
    flex-direction: column;
}
.col-id{
    --column-width-min: 10em;
}
.table-list .table-list-head{ 
    width: 100%;
    grid-template-columns: 1fr;
    display: none;
    gap: 30px;
    color: var(--text-secondary-color);
    font-size: .9rem;
    font-weight: 500;
    padding: 30px 0;
    border-bottom: 2px solid var(--btn-default-color);
}
.table-list .table-list-row{ 
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    gap: 30px;
    align-items: center;
    color: var(--title-color);
    font-size: .9rem;
    padding: 30px 0;
    border-bottom: 2px solid var(--btn-default-color);
}
.table-list .table-list-row .table-list-col{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    width: 100%;
}
.table-list .table-list-row .table-list-col.actions{
    grid-template-columns: repeat(3, 1fr);
}
.table-list .table-list-row .table-list-col .content{
    text-align: right;
    display: flex;
    justify-content: flex-end;
}
.table-list .table-list-row .table-list-col .title{
    display: block;
    color: var(--text-secondary-color);
    font-weight: 600;
} 
.table-list .table-list-row:last-child{
    border-bottom: none;
}
.table-list-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.table-list-bottom .table-list-details{
    display: none;
}
@media (min-width: 768px) { 
    .table-list-bottom{
        justify-content: space-between;
    }
    .table-list-bottom .table-list-details{
        display: block;
    }
    .table-list .table-list-head{ 
        display: grid;
        grid-template-columns: 1em .8fr 8em 8em 1fr;
    }
    .table-list .table-list-row{ 
        grid-template-columns: 1em .8fr 8em 8em 1fr;
    }
    .table-list .table-list-row .table-list-col .title{
        display: none;
    } 
    .table-list .table-list-row .table-list-col{
        grid-template-columns: 1fr;
    }
    .table-list .table-list-row .table-list-col.actions{
        grid-template-columns: repeat(3, 1fr);
    }
    .table-list .table-list-row .table-list-col .content{
        text-align: left;
        justify-content: flex-start;
    }
}
@media (min-width: 1024px){
    .table-list .table-list-head{ 
        grid-template-columns: 1em 1fr 8em 8em 1fr;
    }
    .table-list .table-list-row{ 
        grid-template-columns: 1em 1fr 8em 8em 1fr;
    }
}